.option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 200;
}

.option-list .option-list-element {
  padding: 0 .7rem;
}

.option-list .option-list-element a {
  padding: 0.5rem 0.6rem;
  text-decoration: none;
}

.np {
  padding: 0rem !important;
}

.menu-index {
  margin-top: 100px;
  background: transparent;
  padding: 5%;
  z-index: 100;
  background: #7c6350;
}

.menu-index .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.5rem;
}

.menu-index .welcome .header {
  font-size: 3.5rem;
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.menu-index .welcome .sub-header {
  font-size: 2rem;
  font-weight: 200;
  padding-bottom: 1.5rem;
}

.menu-index .details {
  padding-bottom: 0 !important;
}

.menu-index .menu-line {
  height: 1px;
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: #E1E1E1;
}

.container {
  padding-bottom: 50px;
}

.container .category-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #35281E;
}

.container .category-box .category-header {
  font-size: 1.7rem;
  font-weight: 400;
  color: #E1E1E1;
}

.container .category-box .category-amount {
  font-size: 1.5rem;
  font-weight: 300;
  color: #E1E1E1;
}

.container .product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0;
}

.container .product-box .product-title {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.container .product-box .product-about {
  font-size: 1.2rem;
  font-weight: 300;
}

.container .product-box .product-prize {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  font-weight: 200;
}

.container .product-box .product-prize i {
  font-size: 0.9rem !important;
  padding-left: 0.2rem !important;
}

.container .product-table {
  font-size: 1.3rem;
  font-weight: 300;
  color: #E1E1E1;
}

.container .form-horizontal {
  max-width: 400px;
  margin: 0 auto;
}

.container .table {
  margin: 0 auto;
  width: 100% !important;
  color: #E1E1E1 !important;
}

.container .table th,
.container .table tr,
.container .table td {
  padding: 0.2rem;
}

.btn {
  width: 100%;
  height: 100%;
  margin: 0.8em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn button {
  height: 100%;
  padding: 0.4em 0.5em;
  font-size: 1em;
  background-color: transparent;
  color: #E1E1E1;
  border-style: solid;
  border: 1px solid #E1E1E1;
}
/*# sourceMappingURL=menustyle.css.map */