body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    overflow-x: hidden;

    background: url('/static/menu/img/background.jpg') no-repeat fixed;
    background-attachment: fixed;
    background-size: cover;
}

// -----------------------------------------------------------
// -------------- NAVIGATION ---------------------------------
// -----------------------------------------------------------
#navigation {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);

    .logo {
        width: 50px;
        height: 50px;
        padding-right: 200px;

        a img {
            width: auto;
            height: 60px;
        }
    }

    .menu ul {
        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;

        li {
            padding: 10px 15px;
            margin: 10px;

            a {
                text-decoration: none;
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                line-height: 1.42em;
                color: white;
            }

            a:hover:last-child {
                color: white;
            }

            li:hover {
                border: 1px solid #E4E6E9;
                transition-delay: 0s;
                transition-duration: 0.4s;
                transition-property: all;
                transition-timing-function: line;
            }

            li:last-child {
                border: 1px solid #E4E6E9;
                margin-right: 40px;
            }

            li:hover:last-child {
                background-color: rgba(255, 255, 255, 0.1);
                transition: 0.8s all;
            }
        }
    }

    .logadmin {
        a {
            text-decoration: none;
            font-size: 25px;
            color: white;
        }
    }
}

// -----------------------------------------------------------
// -------------- MENUINDEX ----------------------------------
// -----------------------------------------------------------
#menuList {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 150px 50px 0 50px;
    overflow-x: hidden;

    .header {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        padding-bottom: 100px;

        .logo {
            max-width: 35%;
            width: 20%;

            img {
                width: 100%;
            }
        }

        .title {
            width: 65%;
            margin: 0;
            padding: 0;


            h1 {
                margin: 0 0 50px 0;
                padding: 0;
                font-family: 'Lemonada', cursive;
                font-size: 60px;
                font-weight: 300;
            }

            p {
                font-family: 'Lemonada', cursive;
                font-size: 16px;
                font-weight: 300;
                margin: 0;
                padding: 0;

            }
        }

    }

    .contentList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;

        .mixture {
            width: 45%;

            .rubric {
                width: 100%;
                padding: 0;
                margin: 0;

                ul {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;

                    li {
                        h2 {
                            font-family: 'Caveat', cursive;
                            font-size: 25px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .name {
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: space-between;

                    li {
                        h3 {
                            font-family: 'Lemonada', cursive;
                            font-size: 16px;
                            font-weight: 300;
                            padding: 0;
                            margin: 0;

                            h4 {
                                font-family: 'Lemonada', cursive;
                                font-size: 12px;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }

    }
}