$mainFontColor: #E1E1E1;
$backgroundColor: #35281E;
$lightBackgroundColor: #7c6350;

.option-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-inline-start: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 200;

    .option-list-element {
        padding: 0 .7rem;

        a {
            padding: 0.5rem 0.6rem;
            text-decoration: none;
        }
    }
}

.np {
    padding: 0rem !important;
}

.menu-index {
    margin-top: 100px;
    background: transparent;
    padding: 5%;
    z-index: 100;
    background: $lightBackgroundColor;

    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2.5rem;

        .header {
            font-size: 3.5rem;
            font-weight: 300;
            padding-bottom: 1.5rem;
        }

        .sub-header {
            font-size: 2rem;
            font-weight: 200;
            padding-bottom: 1.5rem;
        }
    }

    .details {
        padding-bottom: 0 !important;
    }

    .menu-line {
        height: 1px;
        width: 70%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        background: $mainFontColor;
    }
}

.container {

    padding-bottom: 50px;

    .category-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $backgroundColor;

        .category-header {
            font-size: 1.7rem;
            font-weight: 400;
            color: $mainFontColor;
        }

        .category-amount {
            font-size: 1.5rem;
            font-weight: 300;
            color: $mainFontColor;
        }
    }

    .product-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;

        .product-title {
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: 0.4px;
        }

        .product-about {
            font-size: 1.2rem;
            font-weight: 300;
        }

        .product-prize {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            font-weight: 200;

            i {
                font-size: 0.9rem !important;
                padding-left: 0.2rem !important;
            }
        }
    }

    .product-table {
        font-size: 1.3rem;
        font-weight: 300;
        color: $mainFontColor;
    }

    .form-horizontal {
        max-width: 400px;
        margin: 0 auto;
    }

    .table {
        margin: 0 auto;
        width: 100% !important;
        color: $mainFontColor !important;

        th,
        tr,
        td {
            padding: 0.2rem;
        }
    }
}

.btn {
    width: 100%;
    height: 100%;
    margin: 0.8em 0;
    display: flex;
    justify-content: center;

    button {
        height: 100%;
        padding: 0.4em 0.5em;
        font-size: 1em;
        background-color: transparent;
        color: $mainFontColor;
        border-style: solid;
        border: 1px solid $mainFontColor;
    }

}