@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake:hover {
  -webkit-animation: shake 0.3s;
          animation: shake 0.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#menu-site {
  height: 100%;
  max-width: 100vw;
  width: 100%;
  padding: 1em 0 2em 0;
  background-color: #26272B;
  display: block;
  color: #E1E1E1;
  margin: 0 auto;
}

#menu-site .header {
  width: 100%;
  margin-bottom: 3em;
  margin: 0 auto;
}

#menu-site .header .section-header {
  margin-bottom: 0.5em;
}

#menu-site .header p {
  font-size: 1em;
  margin: 0 auto;
  width: 80%;
}

#menu-site .header ul {
  display: block;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 1.5em 0;
}

#menu-site .header ul li {
  margin: 0 3em;
}

#menu-site .header ul li a {
  border: 1px solid #E1E1E1;
  padding: 0.3em 0.5em;
}

#menu-site .container {
  height: 100%;
  padding: 1em 0;
  margin: 2em 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #887D7D;
}

#menu-site .container .left {
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #E1E1E1;
  margin: 0 1em;
}

#menu-site .container .left table {
  color: #E1E1E1;
  width: 100%;
}

#menu-site .container .left table tbody {
  padding: 0.3em 0;
  width: 100%;
}

#menu-site .container .left table tbody tr {
  width: 100%;
  display: initial;
}

#menu-site .container .left table tbody tr td {
  width: 100%;
}

#menu-site .container .left table tbody tr td h2 {
  display: block;
  margin: 1em 0;
  padding: 0;
  color: #E1E1E1;
  font-size: 1.7em;
  font-weight: 100;
}

#menu-site .container .left table tbody tr td h2 a {
  font-size: 1em;
  font-weight: 100;
}

#menu-site .container .left table tbody tr td h3 {
  color: #E1E1E1;
  font-size: 1.1em;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

#menu-site .container .left table tbody tr td:last-child {
  padding-left: 0.5em;
}

#menu-site .container .left table tbody tr td .text-about {
  display: inline;
  color: #E1E1E1;
  font-size: 0.8em;
  font-weight: 300;
  margin: 0.4em 0 0.6em 1em;
  font-style: italic;
}

#menu-site .container .left .confirm-text {
  display: block;
  margin: 0 auto;
}

#menu-site .container .left .confirm-text ul {
  display: block;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#menu-site .container .left .confirm-text ul li {
  margin: 0 3em;
  margin-left: 0;
  padding-left: 0;
}

#menu-site .container .left .confirm-text ul li a {
  border: 1px solid #E1E1E1;
  padding: 0.3em 0.5em;
}

#menu-site .container .left:last-child {
  border-bottom: none;
}

.left-create {
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: 2.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-create .form-horizontal {
  max-width: 400px;
}

.left-create .form-horizontal .form-input,
.left-create .form-horizontal textarea {
  width: 90%;
  background-color: #26272B;
  color: #E1E1E1;
  letter-spacing: 1px;
  font-size: 1em;
  margin: 0.5em;
  padding: 0.3em;
  border: 1px solid #E1E1E1;
}

.left-create .form-horizontal ::-webkit-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 1em;
}

.left-create .form-horizontal :-ms-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 1em;
}

.left-create .form-horizontal ::-ms-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 1em;
}

.left-create .form-horizontal ::placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 1em;
}

.left-create .form-horizontal .option-list {
  height: 100%;
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.left-create .form-horizontal .option-list li {
  color: #E1E1E1;
}

.left-create .form-horizontal .option-list li a {
  font-size: 1em;
}

.left-create .form-horizontal .helptext {
  height: 100%;
  width: 100%;
  padding-left: 0;
  list-style: none;
}

.left-create .form-horizontal .helptext li {
  color: #E1E1E1;
}

.left-create .form-horizontal .helptext li a {
  font-size: 1em;
}

.btn {
  width: 100%;
  height: 100%;
  margin: 0.8em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn button {
  height: 100%;
  padding: 0.4em 0.5em;
  font-size: 1em;
  background-color: transparent;
  color: #E1E1E1;
  border-style: solid;
  border: 1px solid #E1E1E1;
}

@media (max-width: 768px) {
  .left {
    width: 100%;
    margin: 0;
    padding: 0 1em;
  }
}
/*# sourceMappingURL=menustyle.css.map */