{% load sass_tags static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klub Drukarnia Kraków</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{% sass_src 'homepage/css/homepagestyle.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'account/css/accountstyle.scss' %}">
    <script type="text/javascript" src="{% static 'homepage/js/main.js' %}"></script>

    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,300;0,400;0,600;1,400;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&display=swap&subset=latin-ext"
        rel="stylesheet">
</head>

<body>
    <!-- Navbar large UI  -->
    <nav class="navbar navbar-light mynav">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'homepage/img/drukarnia-logo.png' %}" width="auto" height="55"
                class="d-inline-block align-top" alt="">
        </a>
        <div style="flex: 1;"></div>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'barrental' %}">OFERTA</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false" style="opacity: 0.3;">BLOG</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">WIDOK</a>
                    <a class="dropdown-item" href="#">DODAJ</a>
                    <a class="dropdown-item" href="#">EDYTUJ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">DODAJ</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">MENU</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'menu' %}">WIDOK</a>
                    <a class="dropdown-item" href="{% url 'menu_list' %}">LISTA</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'menu_create' %}">DODAJ</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">REZERWACJA</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'reservation_list' %}">LISTA</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'reservation-create' %}">DODAJ</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link disabled" href="{% url 'menu' %}" style="opacity: 0.3;">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">MENU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reservation-create' %}">REZERWACJA</a>
            </li>
            {% endif %}
        </ul>
        <div class="user">
            <p><i class="fas fa-user"></i></p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">
                <p style="padding-top: 5px;">WYLOGUJ</p>
            </a>
            {% else %}
            <ul>
                <li><a href="{% url 'login' %}">
                        <p>ZALOGUJ</p>
                    </a>
                </li>
                <li><a href="{% url 'register' %}">
                        <p>DOŁĄCZ</p>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <!--end Navbar large UI  -->

    <!--Navbar HAMBURGER -->
    <nav class="navbar navbar-dark  responsive">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'homepage/img/drukarnia-logo.png' %}" width="auto" height="45"
                class="d-inline-block align-top" alt="">
        </a>
        <div style="flex: 1;"></div>
        <button class="navbar-toggler third-button" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="animated-icon3"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent22">
            <div class="user">
                <p><i class="fas fa-user"></i></p>
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <p style="padding-top: 5px;">WYLOGUJ</p>
                </a>
                {% else %}
                <ul>
                    <li><a href="{% url 'login' %}">
                            <p>ZALOGUJ</p>
                        </a>
                    </li>
                    <li><a href="{% url 'register' %}">
                            <p>DOŁĄCZ</p>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'barrental' %}">OFERTA</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false" style="opacity: 0.3;">BLOG</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">WIDOK</a>
                        <a class="dropdown-item" href="#">DODAJ</a>
                        <a class="dropdown-item" href="#">EDYTUJ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">DODAJ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">MENU</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'menu' %}">WIDOK</a>
                        <a class="dropdown-item" href="{% url 'menu_list' %}">LISTA</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'menu_create' %}">DODAJ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">REZERWACJA</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'reservation_list' %}">LISTA</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'reservation-create' %}">DODAJ</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">MENU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservation-create' %}">REZERWACJA</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- end Navbar HAMBURGER -->
    <div class="container-fluid" style="padding: 0 !important; border: none !important;">
        {% block content %}
        <!-- moje widoki -->
        {% endblock %}
    </div>
    <footer class="site-footer">
        <hr>
        <div class="container">
            <div class="footer-row">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">&nbsp;Gentlemil</a>.
                </p>
                <div class="icons">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/DrukarniaKlub/" target="_blank" class="contact-icon">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/drukarniaklub/" target="_blank" class="contact-icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li><a href="https://pl.tripadvisor.com/Attraction_Review-g274772-d12197208-Reviews-Drukarnia_Club-Krakow_Lesser_Poland_Province_Southern_Poland.html"
                                target="_blank" class="contact-icon">
                                <i class="fab fa-tripadvisor"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!--  -->
</body>

</html>