{% extends "reservationbase.html"%}
{% block content %}

<div class="container">
    <!-- czesc tytulowa, co z czym sie je -->
    <div class="reservation-index">
        <div class="welcome">
            <p class="sub-header">POTWIERDZENIE</p>
            <div class="line"></div>
        </div>
        <div class="container">
            <p>Rezerwacja wprowadzona do systemu.</p>
            <ul class="option-list">
                {% if request.user.is_authenticated %}
                <li class="option-list-element">
                    <a href="{% url 'reservation_list' %}">POWRÓT DO REZERWACJI</a>
                </li>
                {% endif %}
                <li class="option-list-element">
                    <a href="{% url 'homepage' %}">STRONA GŁÓWNA</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}