{% extends "base.html"%}

{% block content %}

<section id="details">
    <div class="content">
        <table class="container">
            <tbody>
                <tr>
                    <td>Termin rezerwacji:</td>
                    <td>{{reservation.term_of_reservation}}</td>
                </tr>
                <tr>
                    <td>Tworca</td>
                    <td>{{reservation.name}}</td>
                </tr>
                <tr>
                    <td>Nr kontaktowy</td>
                    <td>{{reservation.phone}}</td>
                </tr>
                <tr>
                    <td>Adres e-mail:</td>
                    <td>{{reservation.email}}</td>
                </tr>
                <tr>
                    <td>Ktory bar</td>
                    <td>{{reservation.bar}}</td>
                </tr>
                <tr>
                    <td>Liczba osob</td>
                    <td>{{reservation.nr_of_people}}</td>
                </tr>
            </tbody>
        </table>

        <div class="options">
            <ul>
                <li><a href="{% url 'reservation_edition' pk=reservation.pk %}">EDYCJA</a></li>
                <li><a href="{% url 'reservation_delete' pk=reservation.pk %}">USUN REZERWACJE</a></li>
            </ul>
        </div>

    </div>
</section>



{% endblock %}