{% extends "reservationbase.html"%}

{% block content %}

<!-- <section id="listEdition">
    <h1 class="section-header">Edycja</h1>
    <div class="container">
        <form class="form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="send-button" name="submit" type="submit" id="submit" data-submit="...Sending" value="SEND">
                <div class="button">
                    <span class="send-text">ZATWIERDŹ</span>
                </div>
            </button>

        </form>
    </div>
</section> -->

<section id="reservation-site">
    <div class="header">
        <h1 class="section-header">ZŁÓŻ REZERWACJĘ</h1>

    </div>
    <div class="container">
        <div class="left">
            <form class="form-horizontal" role="form" method="POST" action="">

                <input type="text" value="{{reservation.title}}" class="form-input" id="id_name" name="name"
                    maxlength="250" required size="60px">
                <input type="text" value="{{reservation.email}}" class="form-input" name="email" maxlength="250"
                    required id="id_email" size="25px">
                <input type="text" value="{{reservation.phone}}" class="form-input" name="phone" maxlength="250"
                    required id="id_phone" , size="25px">
                <input type="text" value="{{reservation.title}}" class="form-input" id="id_title" size="25px"
                    name="title" maxlength="50" required>

                <input type="number" value="{{reservation.bar}}" class="form-input" placeholder="Bar" name="bar"
                    size="25px" required="" id="id_bar">
                <input type="text" value="{{reservation.term_of_reservation}}" class="form-input"
                    name="term_of_reservation" required="" size="25px" id="id_term_of_reservation">
                <input type="number" placeholder="Liczba osób" class="form-input" name="nr_of_people" required=""
                    size="25px" id="id_nr_of_people">
                <label class="lb-t" for="id_catering">Catering: </label>
                <div class="touch"> {{ form.catering }} </div>
                <label class="lb-t" for="id_faktura">Faktura: </label>
                <div class="touch"> {{ form.faktura }} </div>
                <textarea class="form-input" placeholder="{{reservation.additional_information}}" cols="250" rows="10"
                    name="additional_information" maxlength="500">
                </textarea>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <span class="btn">
                    <button class="send-btn" id="submit" type="submit" value="SEND">ZATWIERDŹ ZMIANY</button>
                </span>
            </form>
        </div>
    </div>
</section>
{% endblock %}