{% extends "reservationbase.html"%}

{% block content %}

<div class="container">
    <!-- czesc tytulowa, co z czym sie je -->
    <div class="reservation-index">
        <div class="welcome">
            <p class="sub-header">LISTA REZERWACJI</p>
            <div class="line"></div>
        </div>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">DATA</th>
                        <th scope="col">HASLO</th>
                        <th scope="col">IMIE/NAZWISKO</th>
                        <th scope="col">TELEFON</th>
                        <th scope="col">BAR</th>
                        <th scope="col">LICZBA OSOB</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">EDYCJA</th>
                    </tr>
                </thead>
                {% if reservations %}
                {% for r in reservations %}
                <tbody>
                    <th scope="row">
                        <h3 class='reservation-table'>{{r}}</h3>
                    </th>
                    <td>
                        <h3 class='reservation-table'>{{ r.term_of_reservation|date:"d/m H:i" }}</h3>
                    </td>
                    <td>
                        <h3 class='reservation-table'>{{ r.title }}</h3>
                    </td>
                    <td>
                        <h3 class='reservation-table'>{{ r.name }}</h3>
                    </td>
                    <td>
                        <h3 class='reservation-table'>{{ r.phone }}</h3>
                    </td>
                    <td>
                        <h3 class='reservation-table'>{{ r.bar }}</h3>
                    </td>
                    <td>
                        <h3 class='reservation-table'>{{ r.nr_of_people }}</h3>
                    </td>
                    <td>
                        <h3 class='reservation-table'>{{ r.status }}</h3>
                    </td>
                    <td>
                        <ul class="edition_list">
                            <li class="edition_list_element">
                                <h3 class='reservation-table'><a href="{% url 'reservation_details' pk=r.pk %}">
                                        <i class="fas fa-binoculars"></i></a></h3>
                            </li>
                            <li>
                                <h3 class='reservation-table'><a href="{% url 'reservation_delete' pk=r.pk %}">
                                        <i class="far fa-trash-alt"></i></a></h3>
                            </li>
                        </ul>
                    </td>
                </tbody>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}