arrow==0.15.5
asgiref==3.2.3
backcall==0.1.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
dateparser==0.7.4
decorator==4.4.1
Django==2.2.24
django-appconf==1.0.3
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.1.1
django-compressor==2.4
django-cors-headers==3.2.1
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-environ==0.4.5
django-extensions==2.2.6
django-jquery==3.1.0
django-libsass==0.8
django-sass-processor==0.2.6
django-taggit==1.2.0
django-tempus-dominus==5.1.2.13
djangorestframework==3.11.0
gunicorn==20.0.4
httpie==2.0.0
idna==2.8
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.15.2
libsass==0.19.4
moment==0.8.2
node==0.9.24
npm==0.1.1
odict==1.7.0
optional-django==0.1.0
parso==0.5.2
pickleshare==0.7.5
plumber==1.5
prompt-toolkit==3.0.2
psycopg2==2.8.4
Pygments==2.5.2
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
rcssmin==1.0.6
regex==2020.2.20
requests==2.22.0
rjsmin==1.1.0
six==1.13.0
soupsieve==2.0
sqlparse==0.3.0
times==0.7
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.25.8
wcwidth==0.1.8
whitenoise==5.0.1
wincertstore==0.2
zope.component==4.6
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
zope.lifecycleevent==4.3
zope.proxy==4.3.3
