{% extends "accountbase.html" %}

{% block title %}Logged out{% endblock %}

{% block content %}

<section id="login-site">
    <div class="header">
        <h1 class="section-header">Zostałeś wylogowany.</h1>
        <p>Cz chcesz się zalogować ponownie?</p>
    </div>
    <div class="container">
        <div class="left">
            <ul class="option-list">
                <!-- <li><a href="#">NOWA KATEGORIA</a></li> -->
                <li><a href="{% url 'login' %}">ZALOGUJ PONOWNIE</a></li>
                <li><a href="{% url 'homepage' %}">STRONA GŁÓWNA</a></li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}