{% extends "accountbase.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}

<div class="container">
    <div class="login-site">
        <div class="welcome">
            <p class="sub-header">RESETUJEMY HASŁO</p>
            <p class="sub-header">Ustaw nowe hasło:</p>
        </div>
        <div class="container">
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change my password" /></p>
            </form>
            {% else %}
            <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}