{% extends "accountbase.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}

<div class="container">
    <div class="login-site">
        <div class="welcome">
            <p class="sub-header">ZAPOMNIAŁEŚ HASŁA?</p>
            <p class="sub-header"> Wpisz adres e-mail podany podczas rejestracji w celu zresetowania hasła.</p>
        </div>
        <div class="container">
            <form class="form-horizontal" role="form" method="POST" action="">
                <input type="email" class="form-control" name="email" maxlength="254" id="id_email"
                    placeholder="Adres e-mail">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                <button class="send-btn" id="submit" type="submit" value="SEND">WYŚLIJ</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}