{% extends "homepagebase.html" %}

{% block content %}

<section id="homepage-about">
    <div class="header">
        <h1 class="section-header">O NAS</h1>
        <p>to jeden z najlepiej zlokalizowanych krakowskich lokali. Położony jest tuż nad Wisłą, w dawnej przemysłowej
            dzielnicy Krakowa – Podgórzu. Cztery niezależne bary (każdy z niepowtarzalnym klimatem) położone na dwóch
            poziomach tworzą miejsce do którego zaglądają z przyjemnością stali bywalcy jak i turyści. Z barów
            znajdujących sie na poziomie ulicy
            podziwiać można panoramę starego miasta i leżącego po drugiej stronie rzeki Kazimierza.
        </p>
        <ul>
            <li><a href="{% url 'barrental' %}">SPRAWDŹ OFERTĘ</a></li>
            <li><a href="{% url 'reservation-create' %}">ZRÓB REZERWACJĘ</a></li>
        </ul>
    </div>
    <div class="container">
        <h1 class="section-header">JAK NAS ZNALEŹĆ</h1>
        <div class="left">
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.1461260293613!2d19.947049115435348!3d50.046093879421626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b4375e9fc85%3A0x1d533bf5dca12bad!2sDrukarnia!5e0!3m2!1spl!2spl!4v1582776253632!5m2!1spl!2spl"
                    width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="tips">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa debitis officiis minus iste sit autem
                    architecto illo cum! Sed ipsum quas autem error similique porro temporibus hic quasi nemo
                    voluptatum! </p>
            </div>
        </div>
        <h1 class="section-header">SOCIAL MEDIA</h1>
        <div class="right">

            <ul class="option-list-icon">
                <li>
                    <i class="fa fa-map-marker fa-2x icon-text"></i>
                </li>
                <li>
                    <p class="icon-text">KRAKÓW<br>ul. Nadwiślańska 1</p>
                </li>
            </ul>

            <ul class="option-list-icon">
                <li>
                    <i class="fa fa-phone fa-2x icon-text"></i>
                </li>
                <li>
                    <p class="icon-text">+48 12 656 65 60</p>
                </li>
            </ul>

            <ul class="option-list-icon">
                <li>
                    <i class="fa fa-envelope fa-2x icon-text"></i>
                </li>
                <li>
                    <p class="icon-text">drukarnia@drukarniaclub.pl</p>
                </li>
            </ul>
        </div>
    </div>

</section>

{% endblock %}