{% extends "homepagebase.html" %}

{% block content %}

<section id="barRental">
    <div class="section-header">
        <h1>WYNAJEM SALI</h1>
        <h3>W lokalu znajdują się cztery sale, każda z nich posiada osobny bar i charakteryzuje się niepowtarzalnym
            wnętrzem. Pierwszy tzw.: „Start Bar” to miejsce do spotkań starych znajomych w luźnej atmosferze. Sala
            kominkowa to przestrzeń elegancka idealna dla służbowych spotkań. Na poziomie -1 znajdują się dwa
            pomieszczenia, z bogato wyposażonymi barami, gdzie w każdy weekend organizujemy imprezy, TYLKO z muzyką
            taneczną. Jest to miejsce, gdzie możesz również zorganizować imprezę firmową, spotkanie z przyjaciółmi.
            Zapraszamy do odwiedzin naszego lokalu.</h3>
    </div>
    <div class="content"></div>
    <div class="section-header">
        <h1>OFERTA CATERINGOWA</h1>
    </div>
    <div class="content"></div>

    <div class="content"></div>

</section>

{% endblock %}