{% extends "homepagebase.html"%}
{% load sass_tags static %}

{% block content %}
<div class="content">
    <ul class="cb-slideshow">
        <li><span>Image 01</span>
        </li>
        <li><span>Image 02</span>
        </li>
        <li><span>Image 03</span>
        </li>
        <li><span>Image 04</span>
        </li>
    </ul>
</div>

<section id="about-home">
    <div class="container">
        <div class="textone">
            <p>Klub Drukarnia to jeden z najlepiej zlokalizowanych krakowskich lokali.
                Położony jest tuż nad Wisłą, w dawnej przemysłowej dzielnicy Krakowa – Podgórzu.</p>
        </div>
        <hr>
        <div class="texttwo">
            <p>Kraków, Stare Podgórze, ul. Nadwiślańska 1</p>
            <div class="button-homepage">
                <a href="{% url 'reservation-create' %}">REZERWACJA</a>
            </div>
        </div>
    </div>
    <span class="border_btm"></span>
</section>

<section id="menu-home">
    <div class="container">
        <div class="textone">
            <p>Twój bar. Twoje miasto.</p>
        </div>
        <hr>
        <div class="texttwo">
            <p></p>
            <div class="button-homepage">
                <a href="{% url 'menu' %}">MENU</a>
            </div>
        </div>
        <!-- TASTE. TOUCH. HEAR. EXPERIENCE. twoj bar, twoje miasto, button menu -->
</section>

<section id="event-home">
    <div class="container">
        <div class="textone">
            <p>WYDARZENIA</p>
        </div>
        <div class="texttwo">
            <p>Z życia Drukarni.</p>
            <div class="button-homepage">
                <a href="#">WIĘCEJ</a>
            </div>
        </div>
        <span class="border_btm"></span>
</section>


<!-- <section id="gallery-home">
    <div class="container">
        <div class="photo-1"></div>
        <div class="photo-2"></div>
        <div class="photo-3"></div>
        <div class="photo-4"></div>
        <div class="photo-5"></div>
        <div class="photo-6"></div>

        <div class="photo-7"></div>
        <div class="photo-8"></div>
        <div class="photo-9"></div>
        <div class="photo-10"></div>
        <div class="photo-11"></div>
        <div class="photo-12"></div>
    </div>
</section> -->

<section id="contact-home">
    <h1 class="section-header">CONTACT</h1>
    <div class="contact-wrapper">
        <form class="form-horizontal" role="form" method="post" action="contact.php">

            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
                </div>
            </div>
            <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message"></textarea>
            <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                <div class="button"><span class="send-text">WYŚLIJ WIADOMOŚĆ</span>
                </div>
            </button>

        </form>

        <div class="direct-contact-container">
            <table>
                <tbody>
                    <tr>
                        <td><i class="fa fa-map-marker fa-2x"></i></td>
                        <td>
                            <p class="contact-text place">KRAKÓW | ul. Nadwiślańska 1</p>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-phone fa-2x"></i></td>
                        <td>
                            <p class="contact-text phone"><a href="tel:48-12 656 6560" title="Zadzwoń!">+48 12 656
                                    6560</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-envelope fa-2x"></i></td>
                        <td>
                            <p class="contact-text gmail"><a href="mailto:#"
                                    title="Send me an email">drukarnia@drukarniaclub.pl</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


{% endblock %}