{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<div class="container">
    <!-- czesc tytulowa, co z czym sie je -->
    <div class="menu-index">
        <div class="welcome">
            <p class="sub-header">LISTA PRODUKTÓW</p>
            <div class="menu-line"></div>
            <a href="{% url 'menu_create' %}">NOWY PRODUKT</a>
        </div>
        <div class="container">
            <table class="table table-hover">
                {% for type in categories %}
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ type.name }}</th>
                        <th scope="col">CENA</th>
                        <th scope="col">OPIS</th>
                        <th scope="col">ILOŚĆ</th>
                        <th scope="col">OPCJE</th>
                    </tr>
                </thead>
                {% for product in type.product_set.all %}
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <h3 class='product-table'>{{ product.name }}</h3>
                        </td>
                        <td>
                            <h3 class='product-table'>{{ product.prize }}</h3>
                        </td>
                        <td>
                            <h3 class='product-table'>{{ product.description }}</h3>
                        </td>
                        <td>
                            <h3 class='product-table'>{{ type.amount }}ml</h3>
                        </td>
                        <td>
                            <h3 class="product-table shake"><a href="{% url 'menu_delete' pk=product.pk %}"><i
                                        class="far fa-trash-alt"></i></a></h3>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}