{% extends "menubase.html"%}

{% block content %}

<section id="menuDelete">
    <div class="section-header">
        <h1>USUWANIE PRODUKTU</h1>
    </div>
    <div class="contact-wrapper">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <button class="send-button" name="submit" type="submit" id="submit" data-submit="...Sending" value="SEND">
                <div class="button">
                    <span class="send-text">USUŃ</span>
                </div>
            </button>
        </form>

    </div>
</section>

{% endblock %}