{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<section id="menu-site">
    <div class="header">
        <h1 class="section-header">DODAJ PRODUKT</h1>
    </div>
    <div class="container">
        <div class="left">
            <div class="left-create">
                <form class="form-horizontal" role="form" method="POST" action="">
                    {% csrf_token %}
                    <input class="form-input" type="text" name="name" placeholder="Nazwa produktu" maxlength="250"
                        required id="id_name">
                    <input type="text" class="form-input" name="prize" placeholder="Cena (np. 8/10, 12, 100)"
                        maxlength="250" required id="id_prize">
                    <select class="form-input" name="types" required id="id_types">
                        <option value="" selected>Wybierz rodzaj</option>
                        {% for name in categories %}
                        <option value="{{name.pk}}">{{name.name}}</option>
                        {% endfor %}
                    </select>
                    <input class="form-input" type="text" name="description" placeholder="Opisz produkt jednym zdaniem."
                        maxlength="250" required id="id_name">

                    <span class="btn">
                        <button class="send-btn" id="submit" type="submit" value="SEND">DODAJ</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}