{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}


<div class="container">
    <div class="menu-index">
        <div class="welcome">
            <p class="sub-header">NOWA KATEGORIA</p>
            <div class="menu-line"></div>
        </div>
        <div class="container">
            <form class="form-horizontal" role="form" method="POST" action="">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <input class="form-control" type="text" name="name" placeholder="NAZWA KATEGORII: "
                            maxlength="250" required id="id_name">
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <input type="text" class="form-control" name="amount" placeholder="ILOŚĆ (w 'w ml'): "
                            maxlength="250" required id="id_amount">
                    </div>
                </div>
                <div class="form-group col-12 col-md-3">
                    <button class="btn" id="submit" type="submit" value="SEND">DODAJ</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}