{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<section id="menu-site">
    <div class="header">
        <h1 class="section-header">MENU</h1>
        <p>Kliknij poniżej jeśli chcesz dodać:</p>
        <ul>
            <li><a href="#">NOWA KATEGORIA</a></li>
            <li><a href="{% url 'menu_create' %}">NOWY PRODUKT</a></li>
        </ul>
    </div>
    <!--  -->
    <div class="container">
        {% for type in categories %}
        <div class="left">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <h2>{{ type.name }}</h2>
                        </td>
                        <td>
                            <h2>{{ type.amount }}ml</h2>
                        </td>
                    </tr>
                </tbody>
                {% for product in type.product_set.all %}
                <tbody>
                    <tr>
                        <td>
                            <h3>{{ product.name }}</h3>
                        </td>
                        <td>
                            <h3>{{ product.prize }}</h3>
                        </td>
                        <td>
                            <h3 class="shake"><a href="{% url 'menu_delete' pk=product.pk %}"><i
                                        class="far fa-trash-alt"></i></a></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="text-about">opis alkoholu, rodzaj, kraj pochodzenia</p>
                        </td>
                    </tr>
                    <!-- <hr class="line-menu"> -->
                </tbody>

                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}