{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<div class="container">
    <!-- czesc tytulowa, co z czym sie je -->
    <div class="menu-index">
        <div class="welcome details">
            <p class="sub-header details">SZCZEGÓŁY PRODUKTY</p>
        </div>
        <div class="container">
            <ul class="option-list">
                <li class="option-list-element">
                    <a href="{% url 'menu_update' pk=product.pk %}">EDYTUJ</a>
                </li>
                <li class="option-list-element">
                    <a href="{% url 'menu_delete' pk=product.pk %}">USUŃ</a>
                </li>
                <li class="option-list-element">
                    <a href="{% url 'menu_list' %}">POWRÓT</a>
                </li>
            </ul>
            <table class="table">
                <tbody>
                    <tr>
                        <td>NAZWA PRODUKTU: </td>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <td>CENA:</td>
                        <td>{{ product.prize }}</td>
                    </tr>
                    <tr>
                        <td>RODZAJ:</td>
                        <td>{{ product.types }}</td>
                    </tr>
                    <tr>
                        <td>OPIS:</td>
                        <td>{{ product.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

<!-- --------------------- -->
<!-- --------------------- -->