{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<section id="menu-site">
    <div class="header">
        <h1 class="section-header">USUWANIE KATEGORII.</h1>


    </div>
    <div class="container">
        <div class="left">
            <div class="confirm-text">
                <p class="confirm">Kategoria została usunięta.</p>
                <ul>
                    <li><a href="{% url 'menu_list' %}">WRÓĆ DO MENU</a></li>
                </ul>


            </div>
        </div>
    </div>
</section>

{% endblock %}