{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<section id="menuList">
    <div class="section-header">

        <h1>MENU</h1>
        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum ea quidem obcaecati quas ipsam nisi
            voluptatibus ducimus eligendi dolorum, doloribus quia, amet maiores veniam nobis eos sit. Nostrum, ad
            temporibus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit atque tempore. Voluptates error
            exercitationem temporibus inventore ducimus delectus dolor illo totam, quod deleniti dolorem iusto
            doloremque laborum quidem ea?
        </h3>
    </div>
    <div class="contact-wrapper">
        <div class="contentList">
            {% for type in categories %}
            <div class="mixture">


                <div class="rubric">
                    <ul>
                        <li>
                            <h2>{{ type.name }}</h2>
                        </li>
                        <li>
                            <h2>{{ type.amount }}</h2>
                        </li>
                    </ul>
                </div>
                {% for product in type.product_set.all %}
                <div class="name">
                    <ul>
                        <li>
                            <h3>{{ product.name }}</h3>
                        </li>
                        <li>
                            <h3>{{ product.prize }}</h3>
                        </li>
                    </ul>
                </div>
                {% endfor %}

            </div>
            {% endfor %}
        </div>
    </div>

    <!-- --------------- -->

</section>

{% endblock %}