{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<div class="container">
    <!-- czesc tytulowa, co z czym sie je -->
    <div class="menu-index">
        <div class="welcome">
            <p class="sub-header">POTWIERDZENIE</p>
            <div class="line"></div>
        </div>
        <div class="container">
            <p>Zmiany zostały wprowadzone.</p>
            <ul class="option-list">
                <li class="option-list-element">
                    <a href="{% url 'menu_list' %}">POWRÓT DO MENU</a>
                </li>
                <li class="option-list-element">
                    <a href="{% url 'homepage' %}">STRONA GŁÓWNA</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}