{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<div class="container">
    <!-- czesc tytulowa, co z czym sie je -->
    <div class="menu-index">
        <div class="welcome">
            <h1 class="header">NASZA OFERTA</h1>
            <p class="sub-header">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum ea quidem obcaecati
                quas ipsam nisi
                voluptatibus ducimus eligendi dolorum, doloribus quia, amet maiores veniam nobis eos sit. Nostrum, ad
                temporibus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit atque tempore. Voluptates error
                exercitationem temporibus inventore ducimus delectus dolor illo totam, quod deleniti dolorem iusto
                doloremque laborum quidem ea?
            </p>
            <div class="menu-line"></div>
        </div>
        <div class="container">
            <div class="row">
                {% for type in categories %}
                <div class="col-sm-12 col-md-6">
                    <!-- wszystkie kategorie i produkty -->

                    <div class="category-box">
                        <h2 class="category-header">{{type.name}}</h2>
                        <h2 class="category-amount">{{type.amount}} ml</h2>
                        <div class="menu-line"></div>
                    </div>
                    {% for product in type.product_set.all %}
                    <div class="product-box">
                        <h3 class="product-title">{{ product.name }}</h3>
                        <p class="product-about">{{ product.description }}</p>
                        <!-- <div class=""></div> -->
                        <h3 class="product-prize">{{ product.prize }}<i class="far fa-money-bill-alt"></i></h3>
                    </div>
                    {% endfor %}

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="maps_me">
        <div class="map-image"></div>
    </div>
    {% endblock %}