{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<div class="container">
    <div class="menu-index">
        <div class="welcome">
            <p class="sub-header">EDYTUJ PRODUKT</p>
            <div class="menu-line"></div>
        </div>
        <div class="container">
            <form class="form-horizontal" role="form" method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="ZMIEŃ">
            </form>
        </div>
    </div>
</div>

{% endblock %}