{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<section id="menu-site">
    <div class="header">
        <h1 class="section-header">SZCZEGÓŁY</h1>
    </div>
    <div class="container">
        <div class="left">
            <!-- <div class="left-create"> -->
            <table>
                <tbody>
                    <tr>
                        <td>NAZWA PRODUKTU: </td>
                        <td>{{ product.name }}</td>
                    </tr>
                    <tr>
                        <td>CENA:</td>
                        <td>{{ product.prize }}</td>
                    </tr>
                    <tr>
                        <td>RODZAJ:</td>
                        <td>{{ product.types }}</td>
                    </tr>
                    <tr>
                        <td>OPIS:</td>
                        <td>{{ product.description }}</td>
                    </tr>

                </tbody>
            </table>
            <!-- </div> -->
        </div>
    </div>
</section>

{% endblock %}

<!-- --------------------- -->
<!-- --------------------- -->