{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<section id="menu-site">
    <div class="header">
        <h1 class="section-header">USUWANIE PRODUKTU</h1>


    </div>
    <div class="container">
        <div class="left">
            <form method="post">
                {% csrf_token %}
                <p>Na pewno chcesz usunąć {{ object }} z naszego menu?</p>
                <span class="btn">
                    <button class="send-btn" id="submit" type="submit" value="SEND">TAK, USUŃ</button>
                </span>
            </form>
        </div>
    </div>
</section>

{% endblock %}