{% extends "menubase.html"%}
{% load sass_tags static %}

{% block content %}

<section id="menuList">
    <h1 class="section-header">MENU</h1>
    <h3 class="section-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum ea quidem obcaecati
        quas ipsam nisi
        voluptatibus ducimus eligendi dolorum, doloribus quia, amet maiores veniam nobis eos sit. Nostrum, ad
        temporibus!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit atque tempore. Voluptates error
        exercitationem temporibus inventore ducimus delectus dolor illo totam, quod deleniti dolorem iusto
        doloremque laborum quidem ea?
    </h3>

    <div class="contact-wrapper">
        <div class="contentList">
            {% for type in categories %}
            <div class="mixture">
                <div class="rubric">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <h2>{{ type.name }}</h2>
                                </td>
                                <td>
                                    <h2>{{ type.amount }}</h2>
                                </td>
                            </tr>
                        </thead>
                        {% for product in type.product_set.all %}
                        <tbody>
                            <tr>
                                <td>
                                    <h3>{{ product.name }}</h3>
                                </td>
                                <td>
                                    <h3>{{ product.prize }}</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>opis alkoholu, rodzaj, kraj pochodzenia</p>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- --------------- -->

</section>

{% endblock %}