{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>Reservation Site</title> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'reservation/css/style.css' %}">

</head>

<body>
    <section id="navigation">
        <div class="logo">
            <a href="{% url 'homepage' %}"><img src="{% static 'reservation/img/drukarnia-logo.png' %}" alt="logo"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'menu_list' %}">MENU</a></li>
                <li><a href="{% url 'menu_create' %}">NOWA POZYCJE</a></li>
                <li><a href="{% url 'menu_update' %}">EDYCJA</a></li>
                <li><a href="{% url 'menu_delete' %}">USUN</a></li>
                <!-- {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %} -->
            </ul>
        </div>
    </section>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>

</html>