$mainFontColor: #E1E1E1;
$backgroundColor: #35281E;
$lightBackgroundColor: #7c6350;

.text {
    font-size: 0.6em;
}

button {
    margin: 1rem auto !important;
    display: flex !important;
}

.options {
    display: flex !important;
    justify-content: center !important;
    list-style: none !important;
    padding-inline-start: 0 !important;
    padding: 0 !important;
    font-size: 1rem !important;
    font-weight: 200 !important;
    border: none !important;

    .options-element {
        padding: 0 .7rem;

        a {
            padding: 0.5rem 0.6rem;
            text-decoration: none;

        }
    }
}

.reservation-index {
    margin: 13vh auto 7vh auto;
    padding: 50px 0;
    z-index: 100;
    background: $lightBackgroundColor;

    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2.5rem;

        .header {
            font-size: 3.5rem;
            font-weight: 300;
            padding-bottom: 1.5rem;
        }

        .sub-header {
            font-size: 2rem;
            font-weight: 200;
            padding-bottom: 1.5rem;
        }
    }

    .line {
        height: 1px;
        width: 70%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        background: $mainFontColor;
    }

    .center {
        // margin: 0 auto;
        max-width: 500px;
        color: $mainFontColor !important;
    }

    .line-details {
        height: 1px;
        width: 70%;
        margin-top: 1rem;
        margin-bottom: 0rem;
        background: $mainFontColor;
    }

    .reservation-table {
        font-size: 1rem;
        font-weight: 300;
        color: $mainFontColor;
    }

    .form-horizontal {
        max-width: 600px;
        margin: 0 auto;

        p {
            font-size: 1rem !important;
        }
    }

    .edition_list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline-start: 0;

        .edition_list_element {
            padding: 0 5px;
        }
    }
}

.container {}

@media(max-width: 768px) {}

@media(min-width: 768px) {}