$mainFontColor: #E1E1E1;
/* Extra */
$primary: #FDEDB2;
$secondary: #CF3340;
$ternary: #8D222A;
$dark: #444444;

.text {
    font-size: 0.6em;
}

#reservation-site {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    padding: 100px 0 0 0;
    background-color: #26272B;
    display: block;
    color: $mainFontColor;

    .header {
        width: 100%;
        padding-bottom: 1rem;

        p {
            font-size: 1em;
        }
    }

    .container {

        height: 100%;
        padding: 1em 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        border: 2px solid #887D7D;

        .edition_list {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

    }
}

@media(max-width: 768px) {}

@media(min-width: 768px) {}