/* Extra */
.text {
  font-size: 0.6em;
}

#reservation-site {
  height: 100%;
  width: 100vw;
  padding: 1em 0 1em 0;
  background-color: #26272B;
  display: block;
  color: #E1E1E1;
}

#reservation-site .header {
  width: 100%;
}

#reservation-site .header p {
  font-size: 1em;
}

#reservation-site .container {
  height: 100%;
  padding: 1em 0;
  margin: 2em 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #887D7D;
}

#reservation-site .container .left {
  width: 100%;
  padding: 1.5em 1em;
}

#reservation-site .container .left .content {
  max-width: 700px;
  margin: 0 auto;
}

#reservation-site .container .left .content .form-horizontal {
  margin: 0 auto;
}

#reservation-site .container .left .content .form-horizontal .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5em 5em;
}

#reservation-site .container .left .content .form-horizontal .form-input,
#reservation-site .container .left .content .form-horizontal textarea {
  width: 95%;
  background-color: transparent;
  color: #E1E1E1;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: 100;
  margin: 0.5em;
  padding: 0.3em;
  border: 1px solid #E1E1E1;
}

#reservation-site .container .left .content .form-horizontal ::-webkit-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 0.9em;
  font-weight: 100;
}

#reservation-site .container .left .content .form-horizontal :-ms-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 0.9em;
  font-weight: 100;
}

#reservation-site .container .left .content .form-horizontal ::-ms-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 0.9em;
  font-weight: 100;
}

#reservation-site .container .left .content .form-horizontal ::placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 0.9em;
  font-weight: 100;
}

#reservation-site .container .left .content .form-horizontal .btn {
  width: 100%;
  height: 100%;
  margin: 0.8em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#reservation-site .container .left .content .form-horizontal .btn button {
  height: 100%;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: transparent;
  color: #E1E1E1;
  border-style: solid;
  border: 1px solid #E1E1E1;
}

#reservation-site .container .left .content .form-horizontal .option-list {
  height: 100%;
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#reservation-site .container .left .content .form-horizontal .option-list li {
  color: #E1E1E1;
}

#reservation-site .container .left .content .form-horizontal .option-list li a {
  font-size: 1em;
}

#reservation-site .container .left .content .form-horizontal .helptext {
  height: 100%;
  width: 100%;
  padding-left: 0;
  list-style: none;
}

#reservation-site .container .left .content .form-horizontal .helptext li {
  color: #E1E1E1;
}

#reservation-site .container .left .content .form-horizontal .helptext li a {
  font-size: 1em;
}

#reservation-site .container .left .content {
  color: #E1E1E1;
  width: 100%;
}

#reservation-site .container .left .content tbody {
  padding: 0.3em 0;
  width: 100%;
  text-align: center;
}

#reservation-site .container .left .content tbody tr td a {
  font-size: 1em;
  font-weight: 100;
}

#reservation-site .container .left .content tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.06);
}

#reservation-site .container .left .option-list {
  height: 100%;
  width: 100%;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#reservation-site .container .left .option-list li {
  color: #E1E1E1;
}

#reservation-site .container .left .option-list li a {
  font-size: 1em;
  border: 1px solid #E1E1E1;
  padding: 0.3em 0.5em;
}

#reservation-site .container .left .tbl {
  margin: 0;
  padding: 0;
  width: 100%;
}

#reservation-site .container .left .tbl table {
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

#reservation-site .container .left .tbl table thead {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 0;
}

#reservation-site .container .left .tbl table thead tr th {
  min-width: calc(100%/8);
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #E1E1E1;
  text-transform: uppercase;
  padding: 10px 0;
}

#reservation-site .container .left .tbl table tbody tr {
  padding: 10px 0;
}

#reservation-site .container .left .tbl table tbody tr td {
  width: calc(100%/8);
  padding: 0.4em 0;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  color: #E1E1E1;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

#reservation-site .container .left .tbl table tbody tr td ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#reservation-site .container .left .tbl table tbody tr td ul li {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

#reservation-site .container .left .tbl table tbody tr td ul li a {
  font-size: 0.5em;
}

#reservation-site .container .left .tbl table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .tbl {
    display: none;
  }
  .portrait-view {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .portrait-view table {
    width: 100%;
    padding: 0.3em;
  }
  .portrait-view table tbody {
    width: 100%;
  }
  .portrait-view table tbody tr {
    width: 100%;
  }
  .portrait-view table tbody tr td ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portrait-view table tbody tr td ul li {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  .portrait-view table tbody tr td ul li i {
    font-size: 0.8em;
    padding: 0 1em;
  }
  .portrait-view table tbody tr td ul li a {
    font-size: 0.8em;
    padding: 1em 0;
  }
  .portrait-view table tbody tr td:last-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portrait-view table tbody tr > :nth-child(2) {
    width: 86%;
    border-right: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
  }
  .portrait-view table tbody:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.06);
  }
}

@media (min-width: 768px) {
  .tbl {
    display: block;
  }
  .portrait-view {
    display: none;
  }
}
/*# sourceMappingURL=reservation-style.css.map */