body {
    margin: 0;
    padding: 50px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    box-sizing: border-box;
    overflow-x: hidden;
    background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
    -webkit-animation: 100s scroll infinite linear;
    -moz-animation: 100s scroll infinite linear;
    -o-animation: 100s scroll infinite linear;
    -ms-animation: 100s scroll infinite linear;
    animation: 100s scroll infinite linear;
}

.content {
    height: 100%;
    margin-top: 0;
    padding-top: 0;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-weight: normal;
    margin: 30px 0 0;
}

/* --------------- NAVIGATION -------------------------------- */
/* ----------------------------------------------------------- */
/* 
$mainBackgroundColor: #041230;
$mainFontColor: #E4E6E9;
$mainButtonColor: #E3872D;
*/

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
    z-index: 10000;
}

#navigation .logo {
    width: 50px;
    height: 50px;
    padding-right: 200px;

}


#navigation .logo a img {
    width: auto;
    height: 60px;
}

#navigation .menu {}

#navigation .menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;

}

#navigation .menu ul li {
    padding: 10px 15px;
    margin: 10px;
}

#navigation .menu ul li:hover {
    border: 1px solid #E4E6E9;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

#navigation .menu ul li:last-child {
    border: 1px solid #E4E6E9;
    margin-right: 40px;
}

#navigation .menu ul li:hover:last-child {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.8s all;
}

#navigation .menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
}

#navigation .menu ul li a:hover:last-child {
    /* color: #E4E6E9; */
}

/* ---- ---- ------------------------------------------------- */
/* ----------------------------------------------------------- */

.options {
    display: flex;
    margin-right: 30px;
}

.options ul {
    list-style: none;
}

.options ul li {
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #E4E6E9;
}

.list ul {
    list-style: none;
}

.list ul li {
    margin: 10px;
    padding: 5px 10px;
}

/* ---- LIST ------------------------------------------------- */
/* ----------------------------------------------------------- */

#listTemplate {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    margin: 0;
    padding: 0;
}

#listTemplate .container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 0em 0;
}

.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #0000000;
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container td,
.container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container th {
    background-color: #1F2739;
}

.container td:first-child {
    color: #FB667A;
}

.container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: rgb(197, 193, 64);
    color: #403E10;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

/* -------- DETAILS ------------------------------------------ */
/* ----------------------------------------------------------- */

#details {
    width: 100%;
    height: 100%;
}

#details .content {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    align-content: center;
}

#details .content .container {}

#details .content .options ul {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}


#details .content .options ul li {
    padding: 10px 15px;
    margin: 10px;
}

#details .content .options ul li:hover {
    border: 1px solid #E4E6E9;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

#details .content .options ul li:last-child {
    border: 1px solid #E4E6E9;
    margin-right: 40px;
}

#details .content .options ul li:hover:last-child {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.8s all;
}

#details .content .options ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;

    /* -------- CREATE ------------------------------------------- */
    /* ----------------------------------------------------------- */

    #formTemplate {

        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.42em;
        color: #A7A1AE;
        max-width: 100vw;
        width: 100%;
        max-height: 100vh;
        height: 100%;
        padding-top: 50px;

    }

    #formTemplate h1 {
        font-size: 35px;
        font-weight: 300;
        line-height: 1em;
        text-align: center;
        color: #00000;
    }

    #formTemplate .container {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    #formTemplate .container .create {
        width: 44%;
        background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
        -webkit-animation: 100s scroll infinite linear;
        -moz-animation: 100s scroll infinite linear;
        -o-animation: 100s scroll infinite linear;
        -ms-animation: 100s scroll infinite linear;
        animation: 100s scroll infinite linear;

        padding: 40px;
        margin: 50px 0;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    .formtogether {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }




    #formTemplate .container .create button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #4CAF50;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
    }

    #formTemplate button[type="submit"]:hover {
        background: #43A047;
        transition: background-color 0.3s ease-in-out;
    }

    #formTemplate button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    #formTemplate .container .opis {
        width: 40%;
        height: 540px;
        background: #323C50;
        padding: 25px;
        margin: 50px 0;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    /* --------------------------------------------------------- */
    /* --------------------------------------------------------- */

    #avTemp {
        padding: 110px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 1.42em;
        color: #A7A1AE;

        max-width: 100vw;
        width: 100%;
        max-height: 100vh;
        height: 100%;
        padding: 20px 0;
    }

    #avTemp {
        width: 60vw;
        height: auto;
        margin: 50px 0;
        padding: 30px;

    }

    #avTemp h1 {
        font-size: 35px;
        font-weight: 300;
        line-height: 1em;
        text-align: center;
        color: #00000;

    }

    #avTemp h2 {
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        display: block;
        line-height: 1em;
        padding-bottom: 2em;
        color: #00000;
    }


    #avTemp .container th h1 {
        font-weight: bold;
        font-size: 1em;
        text-align: left;
        color: #0000000;
    }

    #avTemp .container td {
        font-weight: normal;
        font-size: 1em;
        -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
    }

    #avTemp .container {
        text-align: left;
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        display: table;
        padding: 0 0 0em 0;
    }

    #avTemp .container td,
    #avTemp .container th {
        padding-bottom: 2%;
        padding-top: 2%;
        padding-left: 2%;
    }

    /* Background-color of the odd rows */
    #avTemp .container tr:nth-child(odd) {
        background-color: #323C50;
    }

    /* Background-color of the even rows */
    #avTemp .container tr:nth-child(even) {
        background-color: #2C3446;
    }

    #avTemp .container th {
        background-color: #1F2739;
    }

    #avTemp .container td:first-child {
        color: #FB667A;
    }

    #avTemp .container tr:hover {
        background-color: #464A52;
        -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
    }

    #avTemp .container td:hover {
        background-color: rgb(197, 193, 64);
        color: #403E10;
        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
        transition-timing-function: line;
    }

    /* ---- ---- ------------------------------------------------- */
    /* ----------------------------------------------------------- */

    #loginTemp {
        max-width: 50vw;
        max-height: 50vh;
    }

    #loginTemp .overlay {
        position: fixed;
        background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png);
        -webkit-animation: 100s scroll infinite linear;
        -moz-animation: 100s scroll infinite linear;
        -o-animation: 100s scroll infinite linear;
        -ms-animation: 100s scroll infinite linear;
        animation: 100s scroll infinite linear;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #loginTemp .overlay h1 {
        text-align: center;
        color: #FFF !important;
        margin-top: 20%;
        font: 60px Lobster;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
            0px 8px 13px rgba(0, 0, 0, 0.1),
            0px 18px 23px rgba(0, 0, 0, 0.1);
    }

    p {
        color: #FFF;
        text-align: center;
        font: 15px Lobster;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
            0px 8px 13px rgba(0, 0, 0, 0.1),
            0px 18px 23px rgba(0, 0, 0, 0.1);
    }


    @-webkit-keyframes scroll {
        100% {
            background-position: 0px -3000px;
        }
    }

    @-moz-keyframes scroll {
        100% {
            background-position: 0px -3000px;
        }
    }

    @-o-keyframes scroll {
        100% {
            background-position: 0px -3000px;
        }
    }

    @-ms-keyframes scroll {
        100% {
            background-position: 0px -3000px;
        }
    }

    @keyframes scroll {
        100% {
            background-position: 0px -3000px;
        }
    }

    .wrap {
        width: 400px;
        margin: 0 auto;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
        outline: none;
        font: 13px Raleway;
    }

    input[type="submit"] {
        background: #e74c3c;
        color: #FFF;
        width: 105%;
        padding: 15px;
        font-weight: 700;
        opacity: 0.8;
    }


    input[type="submit"]:hover {
        cursor: pointer;
        opacity: 1;
    }

    input[type="text"]:focus {
        border-left: 5px solid #e74c3c;
        -webkit-transition: 0.4s ease;
    }

    input[type="email"]:focus {
        border-left: 5px solid #e74c3c;
        -webkit-transition: 0.4s ease;
    }

    .fa-newspaper-o {
        font-size: 70% !important;
        margin-right: 10px;
        position: relative;
        top: -4px;
    }

    a {
        font: 13px Raleway;
        color: #FFF;
        font-weight: 700;
        text-decoration: none;
        opacity: 0.6;
    }

    a:hover {
        opacity: 1;
    }

    .fa-user,
    .fa-question {
        margin-right: 5px;
    }

    .fa-user {
        margin-left: 5px;
    }

    /* ---- ---- ------------------------------------------------- */
    /* ----------------------------------------------------------- */