{% extends "accountbase.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
    <div class="login-site">
        <div class="welcome">
            <p class="sub-header">PROFIL UŻYTKOWNIKA</p>
            <div class="menu-line"></div>
        </div>
        <div class="container">
            <p>
                Witam! Tutaj w niedalekiej przyszłości będziesz mógł:
            <ul>
                <li>Edytować swoje konto</li>
                <li>Dodawać i edytować nowe posty, menu, rezerwacje</li>
                <li>i jeszcze parę innych fajnych bajerów</li>
            </ul>
            </p>
        </div>
    </div>
</div>

{% endblock %}