{% extends "accountbase.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<section id="login-site">
    <div class="header">
        <h1 class="section-header">PROFIL UŻYTKOWNIKA</h1>
    </div>
    <div class="container">
        <p>
            Witam! Tutaj w niedalekiej przyszłości będziesz mógł:
            <ul>
                <li>Edytować swoje konto</li>
                <li>Dodawać i edytować nowe posty, menu, rezerwacje</li>
                <li>i jeszcze parę innych fajnych bajerów</li>
            </ul>
        </p>
    </div>
</section>
{% endblock %}