$mainFontColor: #E1E1E1;



/* --------------------------------------------------------------------- */
/* ----------------------- NAVIGATION ---------------------------------- */
/* --------------------------------------------------------------------- */

// $gradient-start :#ed6ea0;
// $gradient-end :#ec8c69;

// $gradient-start :#141414;
// $gradient-end :#2A2A2A;

$gradient-start :#251d1d;
$gradient-end :#5e4f4f;

body {
    height: 100vh;
    max-width: 100vw;
    margin: 0em;
    padding: 0em;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    flex-direction: column;
    background-image: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.42em;
    z-index: 1;
}

/* --------------------------------------------------------------------- */
/* ---------------------------- FONTS ---------------------------------- */
.section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    color: $mainFontColor;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 2.3em;
    line-height: 1.42em;
    letter-spacing: 0.8px;
}

.section-description {
    font-size: 1.3em;
    color: $mainFontColor;
    font-weight: 300;
    line-height: 1.42em;
    letter-spacing: 0.8px;
    padding: 2em 10%;
    text-align: center;
}

h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

a {
    text-decoration: none;
    color: $mainFontColor;
}

p,
span {
    font-size: 0.5em;
}





/* --------------------------------------------------------------------- */
/* ---------------------------- NAVIGATION ----------------------------- */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, #5e4f4f 0%, rgba(94, 79, 79, 0.7) 100%);
    text-transform: uppercase;
    box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;

        &:focus,
        &:focus-within {
            outline: none;
        }

        img {}
    }

    .photo {
        width: 4em;
        margin-left: 1em;
        margin-top: 0.4em;
        margin-bottom: 0.4em;

        a {
            width: 100%;

            img {
                width: 100%;

            }
        }
    }

    >ol {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10%;

        >li {
            width: 100%;
            font-size: 0.9em;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.3em 0.7em;
            margin: 0 auto;

            >a {
                width: 100%;

            }
        }
    }

    .user {
        margin: 0 1em;
        font-size: 0.7em;

    }
}

@media(min-width: 100px) {
    .menu {
        padding: 0;

        >ol {

            &:hover,
            &:focus-within {
                >li:first-child {
                    >a {
                        opacity: 0.6;
                    }
                }
            }

            >li {
                flex: 1 1 0;

                &:last-child:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin-right: -50%;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 0.5rem;
                    z-index: 0;
                    transition: 350ms cubic-bezier(1, 0.49, 0.09, 1.29) all;
                    pointer-events: none;

                }

                @for $i from 1 to 12 {
                    &:first-child:nth-last-child(#{$i})~li:last-child:after {
                        right: 50% + 100% * ($i - 1);
                    }
                }

                @for $i from 1 to 12 {

                    &:first-child:nth-last-child(#{$i}),
                    &:first-child:nth-last-child(#{$i})~li {
                        @for $j from 1 to $i {

                            &:nth-child(#{$j}):hover,
                            &:nth-child(#{$j}):focus,
                            &:nth-child(#{$j}):focus-within {
                                ~li:last-child:after {
                                    right: 50% + 100% * ($i - $j);
                                }

                                >ol a {
                                    box-shadow: inset 0 0 0 3rem rgba(0, 0, 0, 0), inset 0 0 0 3rem rgba(237, 110, 160, (1 - (1/$i)*$j));

                                    &:hover,
                                    &:focus,
                                    &:focus-within {
                                        box-shadow: inset 0 0 0 3rem rgba(0, 0, 0, 0.1), inset 0 0 0 3rem rgba(237, 110, 160, (1 - (1/$i)*$j));
                                    }
                                }
                            }

                            &:last-child:hover:after,
                            &:last-child:focus:after,
                            &:last-child:focus-within:after {
                                right: 50%;
                            }
                        }
                    }
                }

                &:first-child {
                    >a {
                        opacity: 1;
                    }
                }

                >a {
                    padding: 0;
                    font-size: 1.5em;
                    position: relative;
                    width: 100%;
                    text-align: center;
                    z-index: 1;
                    opacity: 0.7;
                    transition: 250ms ease all;
                }

                >ol {
                    list-style-type: none;
                    position: absolute;
                    top: 100%;
                    // left: 0;
                    width: 100%;
                    visibility: hidden;

                    >li {
                        margin-top: 0.1em;
                        transition: 250ms cubic-bezier(0.42, 0.83, 0.49, 1.35) transform;
                        transform: scale(0);

                        >a {
                            display: block;
                            text-align: center;
                            border-radius: 0.2em;
                            padding: 0.5em 0.2em;
                            // padding: 0;
                            font-size: 1.1em;
                            background: $gradient-end;
                            color: rgba(255, 255, 255, 0.9);
                            transition: 250ms ease all;
                            width: 100%;


                            &:hover,
                            &:focus,
                            &:focus-within {
                                box-shadow: inset 0 0 0 3rem rgba(0, 0, 0, 0.1);
                                color: rgba(255, 255, 255, 1);
                            }
                        }
                    }
                }

                &:hover,
                &:focus,
                &:focus-within {
                    >a {
                        opacity: 1 !important;
                    }

                    >ol {
                        visibility: visible;

                        >li {
                            transform: scale(1);

                            &:first-child {
                                transition-delay: 150ms;
                            }
                        }

                        @for $k from 1 to 12 {
                            >li:nth-child(#{$k}) {
                                transition-delay: 150ms * $k;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1100px) {
    body {
        font-size: 14px;
    }

}

@media(max-width: 768px) {
    .menu {
        background-image: linear-gradient(to bottom, $gradient-start 0%, $gradient-end 100%);
        display: block;
        height: 100vh;
        // -- ?
        position: relative;



        a {
            font-size: 1.4rem;
            padding: 1rem 0.5rem;
        }

        >ol {
            flex-direction: column;

            >li {
                flex-direction: column;
                align-items: stretch;
                text-align: center;

                >a:nth-last-child(2) {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        margin-top: -0.25rem;
                        right: 1.5rem;
                        border-top: 0.5rem solid #fff;
                        border-left: 0.3rem solid transparent;
                        border-right: 0.3rem solid transparent;
                        transition: 250ms ease all;
                    }
                }

                &:focus-within,
                &:focus,
                >a:hover,
                >a:focus-within,
                >a:focus {
                    &:nth-last-child(2) {
                        &:after {
                            transform: rotate(180deg);
                        }
                    }

                    +ol {
                        max-height: 12rem;
                    }
                }

                >ol {
                    background: rgba(0, 0, 0, 0.1);
                    box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
                    overflow-x: hidden;
                    max-height: 0;
                    transition: 250ms ease all;

                    >li {
                        a {
                            display: block;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

/* --------------------------------------------------------------------- */
/* ---------------------- BACKGROUND SLIDE-SHOW ------------------------ */
.content {
    height: 100%;
    margin: 0;
    max-width: 100vw;


    .cb-slideshow {
        position: fixed;
        top: -1em;
        left: 0;
        height: 100%;
        width: 100%;
        list-style-type: none;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.9);

        li {
            span {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                color: transparent;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: none;
                opacity: 0;
                z-index: -1;

                animation: imageAnimation 60s linear infinite 0s;
            }

            &:nth-child(1) span {
                background: url('/static/homepage/img/1.jpg');
                background-size: cover;
                background-attachment: fixed;
            }

            &:nth-child(2) span {
                background: url('/static/homepage/img/2.jpg');
                background-size: cover;
                background-attachment: fixed;
                animation-delay: 15s;
            }

            &:nth-child(3) span {
                background: url('/static/homepage/img/3.jpg');
                background-size: cover;
                background-attachment: fixed;
                animation-delay: 30s;
            }

            &:nth-child(4) span {
                background: url('/static/homepage/img/4.jpg');
                background-size: cover;
                background-attachment: fixed;
                animation-delay: 45s;
            }
        }
    }

    @keyframes imageAnimation {
        0% {
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.3);
            animation-timing-function: ease-in;
        }

        8% {
            opacity: 1;
            // animation-timing-function: ease-out;
        }

        17% {
            opacity: 1;
        }

        25% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }
}

/* --------------------------------------------------------------------- */
/* --------------------------- FOOTER  --------------------------------- */
// ------------------------------------------------------------------------

// ----------------- ABOUT ---------------------------------
#about-home,
#menu-home,
#event-home,
#gallery-home,
#contact-home {
    display: block;
    margin: 3em auto;
    width: 90%;
    position: relative;
}


.container {
    height: 40vh;
    display: block;
    margin: 0 auto;
    padding: 0 10%;
}


p {
    color: $mainFontColor;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 1.82em;
    letter-spacing: 1px;
}


hr {
    width: 40%;
    color: $mainFontColor;
}


.button-homepage {
    padding: 10px 15px;
    margin: 10px 40%;
    border: 1px solid $mainFontColor;
}

a {
    text-decoration: none;
    color: $mainFontColor;
    display: flex;
    justify-content: center;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.42em;
    letter-spacing: 0.8px;
}


.button-homepage:hover {
    background-color: #ffffff46;
    transition-delay: 0s;
    transition-duration: 0.8s;
    transition-property: all;
    transition-timing-function: line;
}

#about-home,
#event-home {
    padding: 70px 30px;

    &:before {
        display: block;
        content: "";
        width: 4em;
        height: 4em;
        position: absolute;
        top: -10px;
        left: -10px;
        border-top: 1px solid $mainFontColor;
        border-left: 1px solid $mainFontColor;
    }

    &:after {
        display: block;
        content: "";
        width: 4em;
        height: 4em;
        position: absolute;
        top: -10px;
        right: -10px;
        border-top: 1px solid $mainFontColor;
        border-right: 1px solid $mainFontColor;
    }

    .border_btm {
        &:after {
            display: block;
            content: "";
            width: 4em;
            height: 4em;
            position: absolute;
            bottom: -10px;
            right: -10px;
            border-bottom: 1px solid $mainFontColor;
            border-right: 1px solid $mainFontColor;
        }

        &:before {
            display: block;
            content: "";
            width: 4em;
            height: 4em;
            position: absolute;
            bottom: -10px;
            left: -10px;
            border-bottom: 1px solid $mainFontColor;
            border-left: 1px solid $mainFontColor;
        }
    }
}

#about-home {
    padding: 70px 30px;
}

// ----------------- MENU ---------------------------------
#menu-home {
    background: url('/static/homepage/img/dark-pattern.jpg');
    background-size: contain;
    filter: grayscale(100%);

    width: 100vw;
    margin: 10em 0;
    padding: 5em 0;

    .container {

        .textone {

            p {}
        }

        hr {}

        .texttwo {

            p {}
        }
    }
}

// ----------------- MENU ---------------------------------
#event {
    margin: 10em 0;


    .container {


        .textone {

            p {}
        }

        hr {}

        .texttwo {

            p {}

            .buttonevent {
                a {}
            }
        }
    }
}

// -------------- CONTACT --------------------------------
/* --------------------------------------------------------------------- */
// ----------------------------------
#contact-home {
    width: 100%;
    background-color: #111;
    overflow: hidden;
    padding-bottom: 4em;

    background: url('/static/homepage/img/dark-pattern.jpg');
    background-size: contain;

    margin: 10em 0;



    .section-header {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
        font: 300 60px 'Oswald', sans-serif;
        letter-spacing: 6px;
        color: #fff;
        margin-bottom: 25px;
    }

    .contact-wrapper {
        margin: 0 auto;
        padding-top: 20px;
        max-width: 70vw;

        .form-horizontal {
            float: left;
            max-width: 50%;
            font-family: 'Lato';
            font-weight: 400;
            padding: 0;
        }
    }
}

.form-control,
textarea {
    width: 400px;
    margin-bottom: 1em;
    padding: 0.4em;
    background-color: #111;
    color: #fff;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;

    .button {
        width: 400px;
        height: 34px;
        transition: all .2s ease-in-out;

        .send-text {
            display: block;
            letter-spacing: 2px;
        }
    }

    &:hover {
        transform: translate3d(0px, -15px, 0px);
    }
}

.direct-contact-container {
    max-width: 50%;
    float: right;

    .contact-text {
        letter-spacing: 1.9px;
        color: #bbb;
        font-size: 1em;

        a {
            color: #bbb;
            text-decoration: none;
            transition-duration: 0.2s;
        }

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    .place {
        margin-left: 62px;
    }

    .phone {
        margin-left: 56px;
    }

    .gmail {
        margin-left: 53px;
    }
}

i {
    color: #fff;
    text-decoration: none;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }

    .section-header {
        font-size: 65px;
    }

    .direct-contact-container,
    .form-horizontal {
        float: none;
        margin: 10px auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }

    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    #contact {
        height: 1200px;
    }

    .section-header {
        font-size: 50px;
    }

    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea {
        max-width: 340px;
        margin: 0 auto;
    }

    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }

    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}


/* --------------------------------------------------------------------- */
/* --------------------------- FOOTER  --------------------------------- */
.site-footer {
    min-height: 15vh;
    background-color: #26272b;
    padding-top: 0.5em;
    font-size: 0.8em;
    color: #737373;
    margin-top: 50px;

    hr {
        border-top-color: #bbb;
        opacity: 0.5;
        width: 85%;
    }

    .container {
        height: 100%;

        .row {

            .copyright-text {
                margin: 0;
                text-align: center;
                font-weight: 100;
                font-size: 1em;

                a {
                    text-decoration: none;
                    color: #3366cc;
                    font-weight: 100;
                    font-size: 1em;
                }
            }

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                .social-icons {
                    text-align: right;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    padding-inline-start: 0;
                    margin-bottom: 0;
                    padding-bottom: 0.5em;

                    li {
                        padding: 0 3em;

                        a {
                            border-radius: 100%;
                            color: #818a91;
                            display: inline-block;
                            text-align: center;
                            border-radius: 100%;
                            transition: all .2s linear
                        }
                    }
                }
            }
        }
    }
}

// -------------- GALLERY --------------------------------
#gallery {
    height: 400px;
    max-width: 100vw;
    margin-top: 200px;
    padding: 0;

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #0e0601;
        overflow: hidden;
        position: relative;
        z-index: 100;

        .photo-1 {
            position: inherit;
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g1.jpg');
            background-size: contain;
            z-index: 10;

            /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
            /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;
        }

        .photo-1:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-2 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g2.jpg');
            background-size: contain;

            /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
            /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;
        }

        .photo-2:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-3 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g3.jpg');
            background-size: contain;

            /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
            /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;
        }

        .photo-3:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-4 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g4.jpg');
            background-size: contain;
            opacity: 0.5;
            transition: all 0.6s ease-in-out;
            opacity: 0.5;
        }

        .photo-4:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-5 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g5.jpg');
            background-size: contain;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;

        }

        .photo-5:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-6 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g6.jpg');
            background-size: contain;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;

        }

        .photo-6:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-7 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g7.jpg');
            background-size: contain;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;

        }

        .photo-7:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-8 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g8.jpg');
            background-size: contain;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;

        }

        .photo-8:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-9 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g9.jpg');
            background-size: contain;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;

        }

        .photo-9:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-10 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g10.jpg');
            background-size: contain;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;

        }

        .photo-10:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-11 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g11.jpg');
            background-size: contain;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;

        }

        .photo-11:hover {
            transform: scale(1.2);
            opacity: 1;
        }

        .photo-12 {
            width: calc(100%/6);
            height: calc(100%/2);
            overflow: hidden;
            margin: 0;
            padding: 0;
            background: url('/static/homepage/img/g12.jpg');
            background-size: contain;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            opacity: 0.5;

        }

        .photo-12:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }
}

// ------------------------------------------------------------------------
// ---------------------- VIEW - ABOUT ------------------------------------
// ------------------------------------------------------------------------

#aboutTemplate {
    height: auto;
    max-width: 100vw;
    margin: 0;
    overflow: hidden;
    background: url('/static/menu/img/background.jpg');
    background-size: contain;
    background-color: rgba(38, 39, 43, 0.5);

    .section-header {
        width: 80%;
        margin: 0 auto;
        padding: 110px 5% 50px;
        color: $mainFontColor;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 40px;
        text-align: center;
        line-height: 1em;
        letter-spacing: 0.01em;

        h1 {
            font-size: 60px;
            font-weight: 300;
            color: $mainFontColor;
            font-family: 'Oswald', sans-serif;
        }

        h3 {
            color: $mainFontColor;
            font-family: 'Oswald', sans-serif;
            font-size: 22px;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
    }

    .contact-wrapper {
        max-width: 80vw;
        height: 60px;
        margin: 10px 50px 150px 50px;
        padding: 20px 0;
        position: relative;
        border-top: 0.5px solid $mainFontColor;
        border-bottom: 0.5px solid $mainFontColor;

        .icons {
            margin-top: 5px;
            width: 80vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;

                li {
                    i {}
                }
            }
        }

        .icons-titles {
            margin-top: 5px;
            width: 80vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;

                li {
                    i {}
                }
            }
        }
    }

    .content {
        max-width: 100vw;
        height: 70vh;
        margin: 20px 50px 50px 50px;

        position: relative;
        border: 1px solid $mainFontColor;
        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .map {
            transition: all 0.6s ease-in-out;
            opacity: 0.5;
            max-width: 40%;
            margin: 0 5%;

        }

        .map:hover {
            opacity: 1;
        }
    }

    .tips {
        width: 60%;
        height: 75%;
        margin: 0 20px;
        padding: 20px;

        border-left: 1px solid $mainFontColor;

        p {
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            justify-content: center;
        }
    }
}

// ------------------------------------------------------------------------
// ------------------ VIEW - BAR RENTAL - BARRENTAL ------------------------------------
// ------------------------------------------------------------------------

#barRental {
    height: auto;
    max-width: 100vw;
    margin: 0;
    overflow: hidden;
    background-color: rgba(14, 6, 1, 0.8);

    .section-header {
        width: 80%;
        margin: 0 auto;
        padding: 110px 5% 50px;
        color: $mainFontColor;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 40px;
        text-align: center;
        line-height: 1em;
        letter-spacing: 0.01em;

        h1 {
            font-size: 60px;
            font-weight: 300;
            color: $mainFontColor;
            font-family: 'Oswald', sans-serif;
        }

        h3 {
            color: $mainFontColor;
            font-family: 'Oswald', sans-serif;
            font-size: 22px;
            font-weight: 300;
            margin: 0;
            padding: 0;
        }
    }

    .content {
        max-width: 100vw;
        height: 70vh;
        margin: 20px 50px 50px 50px;

        position: relative;
        border: 1px solid $mainFontColor;
        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}