body {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
  margin: 0em;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.42em;
  z-index: 1;
}

.main-content {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

/* --------------------------------------------------------------------- */
/* ---------------------------- FONTS ---------------------------------- */
.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  color: #E1E1E1;
  font-weight: 300;
  font-size: 2.3em;
  line-height: 1.42em;
  letter-spacing: 0.8px;
}

.section-description {
  font-size: 1.3em;
  color: #E1E1E1;
  font-weight: 300;
  line-height: 1.42em;
  letter-spacing: 0.8px;
  padding: 2em 10%;
  text-align: center;
}

h6 {
  color: #E1E1E1;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #E1E1E1;
}

p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.42em;
  letter-spacing: 1px;
}

/* --------------------------------------------------------------------- */
/* ---------------------------- NAVIGATION ----------------------------- */
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#161212), to(#221919));
  background-image: linear-gradient(to right, #161212 0%, #221919 100%);
  text-transform: uppercase;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
}

.menu-bar a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.menu-bar .photo {
  width: 4em;
  margin-left: 2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.menu-bar .photo a {
  width: 100%;
}

.menu-bar .photo a img {
  width: 100%;
}

.menu-bar .nav-menu {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8%;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  list-style: none;
}

.menu-bar .nav-menu .menu-item {
  font-size: 0.9em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.3em auto;
  background: #221919;
}

.menu-bar .nav-menu .menu-item > a {
  width: 100%;
}

.menu-bar .nav-menu .menu-item .sub-menu {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.user {
  margin: 1em 2em;
  font-size: 0.7em;
  color: #E1E1E1;
}

.user ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0.3em;
}

.user a {
  font-size: 1em;
  color: #E1E1E1;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.user p {
  font-size: 0.9em;
  color: #E1E1E1;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
  padding: 1em;
  margin-right: 2em;
}

.hamburger-line {
  background: #E1E1E1;
  height: 3px;
  position: absolute;
  left: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.hamburger:hover .hamburger-line {
  background: #E1E1E1;
}

.hamburger-line-top {
  top: 3px;
}

.menu-active .hamburger-line-top {
  top: 50%;
  -webkit-transform: rotate(45deg) translatey(-50%);
          transform: rotate(45deg) translatey(-50%);
}

.hamburger-line-middle {
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}

.hamburger-line-bottom {
  bottom: 3px;
}

.menu-active .hamburger-line-bottom {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translatey(50%);
          transform: rotate(-45deg) translatey(50%);
}

@media (min-width: 100px) {
  .menu-bar {
    max-width: 100vw;
  }
  .menu-bar .nav-menu {
    text-align: center;
    font-size: 1em;
    color: #E1E1E1;
    -webkit-transition: 250ms ease all;
    transition: 250ms ease all;
  }
  .menu-bar .nav-menu .menu-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
  .menu-bar .nav-menu .menu-item a {
    position: relative;
    font-size: 1.5em;
    width: 100%;
    padding: 0.7em 0.4em;
    text-align: center;
    z-index: 1;
    opacity: 0.8;
    -webkit-transition: 250ms ease all;
    transition: 250ms ease all;
  }
  .menu-bar .nav-menu .menu-item .sub-menu {
    list-style-type: none;
    position: absolute;
    top: 100%;
    visibility: hidden;
    margin: 0 auto;
    z-index: 100;
  }
  .menu-bar .nav-menu .menu-item .sub-menu .menu-item {
    margin-top: 0.1em;
    -webkit-transition: 250ms cubic-bezier(0.42, 0.83, 0.49, 1.35) -webkit-transform;
    transition: 250ms cubic-bezier(0.42, 0.83, 0.49, 1.35) -webkit-transform;
    transition: 250ms cubic-bezier(0.42, 0.83, 0.49, 1.35) transform;
    transition: 250ms cubic-bezier(0.42, 0.83, 0.49, 1.35) transform, 250ms cubic-bezier(0.42, 0.83, 0.49, 1.35) -webkit-transform;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu-bar .nav-menu .menu-item .sub-menu .menu-item a {
    display: block;
    text-align: center;
    padding: 0.7em 0.4em;
    font-size: 1.5em;
    background: #221919;
    color: #E1E1E1;
    -webkit-transition: 250ms ease all;
    transition: 250ms ease all;
    width: 100%;
  }
  .menu-bar .nav-menu .menu-item:hover > a, .menu-bar .nav-menu .menu-item:focus > a, .menu-bar .nav-menu .menu-item:focus-within > a {
    opacity: 1 !important;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu, .menu-bar .nav-menu .menu-item:focus > .sub-menu, .menu-bar .nav-menu .menu-item:focus-within > .sub-menu {
    visibility: visible;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > .menu-item, .menu-bar .nav-menu .menu-item:focus > .sub-menu > .menu-item, .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > .menu-item {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > .menu-item:first-child, .menu-bar .nav-menu .menu-item:focus > .sub-menu > .menu-item:first-child, .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > .menu-item:first-child {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(1), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(1), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(1) {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(2), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(2), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(2) {
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(3), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(3), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(3) {
    -webkit-transition-delay: 450ms;
            transition-delay: 450ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(4), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(4), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(4) {
    -webkit-transition-delay: 600ms;
            transition-delay: 600ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(5), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(5), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(5) {
    -webkit-transition-delay: 750ms;
            transition-delay: 750ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(6), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(6), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(6) {
    -webkit-transition-delay: 900ms;
            transition-delay: 900ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(7), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(7), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(7) {
    -webkit-transition-delay: 1050ms;
            transition-delay: 1050ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(8), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(8), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(8) {
    -webkit-transition-delay: 1200ms;
            transition-delay: 1200ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(9), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(9), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(9) {
    -webkit-transition-delay: 1350ms;
            transition-delay: 1350ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(10), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(10), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(10) {
    -webkit-transition-delay: 1500ms;
            transition-delay: 1500ms;
  }
  .menu-bar .nav-menu .menu-item:hover > .sub-menu > li:nth-child(11), .menu-bar .nav-menu .menu-item:focus > .sub-menu > li:nth-child(11), .menu-bar .nav-menu .menu-item:focus-within > .sub-menu > li:nth-child(11) {
    -webkit-transition-delay: 1650ms;
            transition-delay: 1650ms;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 0.95em;
  }
}

@media (max-width: 768px) {
  .menu-bar {
    position: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#161212), to(#221919));
    background-image: linear-gradient(to bottom, #161212 0%, #221919 100%);
    max-height: 11vh;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1em;
  }
  .menu-bar .nav-menu {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 6em;
    margin-left: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    padding: 0.7em 0;
    border-bottom: 1px solid white;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translatey(-500%);
            transform: translatey(-500%);
    line-height: normal;
    height: 100%;
  }
  .menu-active .menu-bar .nav-menu {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
    opacity: 1;
  }
  .menu-bar .nav-menu .menu-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0.7em 0;
    border-bottom: 1px solid #E1E1E1;
    height: 100%;
  }
  .menu-bar .nav-menu .menu-item > a {
    height: 100%;
    font-size: 1.4em;
  }
  .menu-bar .nav-menu .menu-item .sub-menu {
    min-height: 0;
    -webkit-transition: 250ms ease all;
    transition: 250ms ease all;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    margin: 0 auto;
    opacity: 0.95;
  }
  .menu-bar .nav-menu .menu-item .sub-menu .menu-item {
    max-width: 100%;
  }
  .menu-bar .nav-menu .menu-item .sub-menu .menu-item > a {
    font-size: 1.4em;
    font-weight: 100;
  }
  .menu-bar .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8em;
    font-weight: 100;
  }
  .menu-bar .user p {
    padding: 0 1em;
  }
  .menu-bar .hamburger {
    display: inline-block;
  }
}

/* --------------------------------------------------------------------- */
/* ---------------------- BACKGROUND SLIDE-SHOW ------------------------ */
.content {
  height: 100%;
  max-height: 100vh;
  margin: 0;
  max-width: 100vw;
}

.content .cb-slideshow {
  position: fixed;
  top: -1em;
  left: 0;
  height: 100%;
  width: 100%;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.85);
}

.content .cb-slideshow li {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.content .cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -1;
  -webkit-animation: imageAnimation 60s linear infinite 0s;
          animation: imageAnimation 60s linear infinite 0s;
}

.content .cb-slideshow li:nth-child(1) span {
  background: url("/static/homepage/img/1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.content .cb-slideshow li:nth-child(2) span {
  background: url("/static/homepage/img/2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.content .cb-slideshow li:nth-child(3) span {
  background: url("/static/homepage/img/3.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

.content .cb-slideshow li:nth-child(4) span {
  background: url("/static/homepage/img/4.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-animation-delay: 45s;
          animation-delay: 45s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#single-homepage-section {
  margin-top: 3em;
  max-height: 88vh;
  height: 100%;
  width: 100vw;
  background-color: #26272B;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-homepage-section .header {
  width: 100%;
  margin-bottom: 3em;
}

#single-homepage-section .container {
  width: 100%;
  height: 100%;
  margin: 5% 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #887D7D;
}

#single-homepage-section .container .left {
  width: 100%;
  height: 100%;
  padding-top: 1.5em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#single-homepage-section .container .left .home-text {
  max-width: 70%;
  font-size: 1.8em;
  font-weight: 300;
}

#single-homepage-section .container .left hr {
  width: 40%;
}

#single-homepage-section .container .left .option-list {
  height: 100%;
  width: 100%;
  padding-top: 1em;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#single-homepage-section .container .left .option-list li {
  color: #E1E1E1;
}

#single-homepage-section .container .left .option-list li a {
  height: 100%;
  border: 1px solid #E1E1E1;
  padding: 0.4em 0.6em;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  background-color: transparent;
  color: #E1E1E1;
}

#single-homepage-section .container .left .form-horizontal {
  max-width: 500px;
}

#single-homepage-section .container .left .form-horizontal .form-input,
#single-homepage-section .container .left .form-horizontal textarea {
  width: 90%;
  border: none;
  background-color: #26272B;
  color: #E1E1E1;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: 100;
  margin: 0.3em;
  padding: 0.3em;
  border-bottom: 0.5px solid #E1E1E1;
  border-left: 0.5px solid #E1E1E1;
}

#single-homepage-section .container .left .form-horizontal ::-webkit-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 0.8em;
}

#single-homepage-section .container .left .form-horizontal :-ms-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 0.8em;
}

#single-homepage-section .container .left .form-horizontal ::-ms-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 0.8em;
}

#single-homepage-section .container .left .form-horizontal ::placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 0.8em;
}

#single-homepage-section .container .left .form-horizontal .btn {
  width: 100%;
  height: 100%;
  margin: 0.6em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#single-homepage-section .container .left .form-horizontal .btn button {
  height: 100%;
  border: 1px solid #E1E1E1;
  padding: 0.4em 0.6em;
  font-size: 1.2em;
  background-color: transparent;
  color: #E1E1E1;
  letter-spacing: 0.1em;
}

#single-homepage-section .container .left .form-horizontal .helptext {
  width: 100%;
  padding-left: 0;
  list-style: none;
}

#single-homepage-section .container .left .form-horizontal .helptext li {
  color: #E1E1E1;
}

#single-homepage-section .container .left .form-horizontal .helptext li a {
  font-size: 0.8em;
}

#single-homepage-section .container hr {
  width: 70%;
  color: #E1E1E1;
}

#single-homepage-section:nth-child(even) {
  background: transparent;
}

.right {
  max-width: 90%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right .option-list-icon {
  height: 100%;
  max-width: 250px;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .option-list-icon li {
  color: #E1E1E1;
  font-size: 1em;
  padding: 0 1em;
}

.right .option-list-icon li .icon-text {
  font-size: 0.8em;
  height: 100%;
  color: #E1E1E1;
}

/* --------------------------------------------------------------------- */
/* --------------------------- FOOTER  --------------------------------- */
.site-footer {
  height: 90px;
  background-color: #26272b;
  margin-top: 200px;
  padding-top: 0.5em;
  font-size: 0.8em;
  color: #737373;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
  width: 85%;
}

.site-footer .container .row .copyright-text {
  margin: 0;
  text-align: center;
  font-weight: 100;
  font-size: 1em;
}

.site-footer .container .row .copyright-text a {
  text-decoration: none;
  color: #3366cc;
  font-weight: 100;
  font-size: 1em;
}

.site-footer .container .row .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.site-footer .container .row .icons .social-icons {
  text-align: right;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

.site-footer .container .row .icons .social-icons li {
  padding: 0 3em;
}

.site-footer .container .row .icons .social-icons li a {
  border-radius: 100%;
  color: #818a91;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

#homepage-about {
  height: 100%;
  max-width: 100vw;
  width: 100%;
  padding: 1em 0 2em 0;
  background-color: #26272B;
  display: block;
  color: #E1E1E1;
  margin: 0 auto;
}

#homepage-about .section-header {
  margin-bottom: 0.5em;
}

#homepage-about .header {
  width: 100%;
  margin-bottom: 3em;
  margin: 0 auto;
}

#homepage-about .header p {
  font-size: 1em;
  margin: 0 auto;
  width: 80%;
}

#homepage-about .header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 1.5em 1em;
}

#homepage-about .header ul li {
  margin: 0 3em;
}

#homepage-about .header ul li a {
  border: 1px solid #E1E1E1;
  padding: 0.3em 0.5em;
}

#homepage-about .container {
  height: 100%;
  padding: 1em 0;
  margin: 2em 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #887D7D;
}

#homepage-about .container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #E1E1E1;
  margin: 0 1em;
}

#homepage-about .container .left .tips {
  padding: 0 1em;
}

#homepage-about .container .left:last-child {
  border-bottom: none;
}
/*# sourceMappingURL=homepagestyle.css.map */