$mainFontColor: #E1E1E1;

@mixin bg-animation ($animationName, $animationTime) {
    -webkit-animation: #{$animationName} #{$animationTime} infinite;
    -moz-animation: #{$animationName} #{$animationTime} infinite;
    animation: #{$animationName} #{$animationTime} infinite;
}

@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    font-weight: 300;
    line-height: 1.42em;
    color: $mainFontColor;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;

    /* --------------------------------------------------------------------- */
    /* ----------------------- NAVIGATION ---------------------------------- */
    /* --------------------------------------------------------------------- */
    .background {
        max-width: 100vw;
        height: 100vh;
        margin: 0 auto;
        height: 100%;
        overflow: hidden;

        .backphoto {
            width: 100%;
            position: relative;

            @include bg-animation(test, 90s);

            #navigation {
                position: fixed;
                top: 0;
                left: 0;
                max-width: 100vw;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 90px;
                z-index: 10000;
                background-color: rgba(14, 6, 1, 0.3);

                .logo {
                    width: 50px;
                    height: auto;
                    padding-right: 200px;

                    a img {
                        width: auto;
                        height: 60px;
                    }
                }

                .menu ul {
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    li {
                        padding: 10px 15px;
                        margin: 10px;
                        transition: all 0.6s ease-in-out;
                        text-transform: uppercase;
                        display: inline-block;

                        a {
                            text-decoration: none;
                            font-size: 20px;
                            font-family: 'Oswald', sans-serif;
                            font-weight: 300;
                            line-height: 1.42em;
                            color: $mainFontColor;
                        }

                        a:hover:last-child {
                            color: $mainFontColor;
                        }
                    }

                    // --------------

                    li:hover {
                        border-bottom: 1px solid $mainFontColor;
                        transition-delay: 0s;
                        transition-duration: 0.8s;
                        transition: 0.8s all;
                        transition-timing-function: line;
                    }

                    li:last-child {
                        padding: 10px 15px;
                        margin: 10px;
                        border: 1px solid $mainFontColor;
                    }

                    li:hover:last-child {
                        background-color: rgba(255, 255, 255, 0.1);
                        transition: 0.8s all;
                    }


                    // --------------
                    // --------------

                }

                .logadmin {
                    background: transparent;
                    transition: all .9s ease-in-out;

                    a {
                        text-decoration: none;
                        font-size: 25px;
                        color: $mainFontColor;
                    }

                    a:hover {
                        color: rgb(212, 155, 9);
                    }
                }

                .logadmin:hover {
                    transform: rotate(360deg);
                    transform: scale(1.2);

                }
            }


            // ----------------- ABOUT ---------------------------------
            // -------------------------------------------------------

            #about {
                height: 70vh;
                width: 100%;
                margin: 0;
                padding: 60% 0 0 0;
                display: flex;
                justify-content: center;
                align-items: center;


                .container {
                    width: 100%;
                    height: 100%;
                    padding: 5% 15%;

                    .textone {

                        p {
                            color: $mainFontColor;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            font-size: 30px;
                            font-family: 'Oswald', sans-serif;
                            font-weight: 300;
                            line-height: 1.82em;
                            letter-spacing: 1px;
                        }
                    }

                    .texttwo {

                        border-top: 1px solid $mainFontColor;
                        padding-top: 20px;

                        p {
                            color: $mainFontColor;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            font-size: 18px;
                            font-family: 'Oswald', sans-serif;
                            font-weight: 300;
                            line-height: 1.42em;
                            margin-bottom: 10%;
                            letter-spacing: 0.8px;
                        }

                        .buttonabout {
                            padding: 10px 15px;
                            margin: 10px 40%;
                            border: 1px solid $mainFontColor;

                            a {
                                text-decoration: none;
                                color: $mainFontColor;
                                display: flex;
                                justify-content: center;
                                padding: 0;
                                font-family: 'Oswald', sans-serif;
                                font-weight: 300;
                                font-size: 24px;
                                line-height: 1.42em;
                                letter-spacing: 0.8px;
                            }
                        }

                        .buttonabout:hover {
                            background-color: #ffffff46;
                            transition-delay: 0s;
                            transition-duration: 0.8s;
                            transition-property: all;
                            transition-timing-function: line;
                        }
                    }
                }
            }

            // -------------------- MENU ------------------------------
            // -------------------------------------------------------

            #menu {
                height: 70vh;
                width: 100%;
                margin-top: 100px;
                background: url('/static/homepage/img/dark.png');
                display: flex;
                justify-content: center;
                align-items: center;

                .container {
                    width: 100%;
                    height: 100%;
                    padding: 0 18%;
                    background-color: #0e0601ad;



                    .textone {
                        margin: 10% 20%;

                        p {
                            color: $mainFontColor;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            font-size: 30px;
                            font-family: 'Oswald', sans-serif;
                            font-weight: 300;
                            line-height: 1.82em;
                            letter-spacing: 1px;

                        }
                    }

                    .texttwo {


                        .buttonmenu {
                            padding: 10px 15px;
                            margin: 10px 40%;
                            border: 1px solid $mainFontColor;

                            a {
                                text-decoration: none;
                                color: $mainFontColor;
                                display: flex;
                                justify-content: center;
                                padding: 0;
                                font-family: 'Oswald', sans-serif;
                                font-weight: 300;
                                font-size: 24px;
                                line-height: 1.42em;
                                letter-spacing: 0.8px;
                            }
                        }

                        .buttonmenu:hover {
                            background-color: #ffffff46;
                            transition-delay: 0s;
                            transition-duration: 0.8s;
                            transition-property: all;
                            transition-timing-function: line;
                        }
                    }
                }
            }

            // -------------------- EVENT ------------------------------
            // -------------------------------------------------------

            #event {
                height: 70vh;
                width: 100%;
                margin-top: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                .container {
                    width: 100%;
                    height: 100%;
                    padding: 5% 30%;
                    margin: 50px;
                    border: 1px solid $mainFontColor;
                    border-radius: 10px;

                    .textone {


                        p {
                            color: $mainFontColor;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            font-size: 30px;
                            font-family: 'Oswald', sans-serif;
                            font-weight: 300;
                            line-height: 1.82em;
                            letter-spacing: 1px;
                        }
                    }

                    .texttwo {

                        border-top: 1px solid $mainFontColor;
                        padding-top: 20px;

                        p {
                            color: $mainFontColor;
                            display: flex;
                            text-align: center;
                            justify-content: center;
                            font-size: 18px;
                            font-family: 'Oswald', sans-serif;
                            font-weight: 300;
                            line-height: 1.42em;
                            margin-bottom: 10%;
                            letter-spacing: 0.8px;
                        }

                        .buttonevent {
                            width: auto;
                            display: flex;
                            padding: 10px;
                            margin: 10px;
                            border: 1px solid $mainFontColor;

                            color: $mainFontColor;
                            display: flex;
                            text-align: center;
                            justify-content: center;

                            a {
                                text-decoration: none;
                                color: $mainFontColor;
                                display: flex;
                                justify-content: center;
                                align-content: center;


                                font-family: 'Oswald', sans-serif;
                                font-weight: 300;
                                font-size: 24px;
                                line-height: 1.42em;
                                letter-spacing: 0.8px;
                            }
                        }

                        .buttonevent:hover {
                            background-color: #ffffff46;
                            transition-delay: 0s;
                            transition-duration: 0.8s;
                            transition-property: all;
                            transition-timing-function: line;
                        }
                    }
                }
            }

            // -------------- GALLERY --------------------------------
            // -------------------------------------------------------

            #gallery {
                height: 400px;
                max-width: 100vw;
                margin-top: 200px;
                padding: 0;

                .container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    background-color: #0e0601;
                    overflow: hidden;
                    position: relative;
                    z-index: 100;

                    .photo-1 {
                        position: inherit;
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g1.jpg');
                        background-size: contain;
                        z-index: 10;

                        /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
                        /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;
                    }

                    .photo-1:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-2 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g2.jpg');
                        background-size: contain;

                        /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
                        /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;
                    }

                    .photo-2:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-3 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g3.jpg');
                        background-size: contain;

                        /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
                        /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;
                    }

                    .photo-3:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-4 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g4.jpg');
                        background-size: contain;
                        opacity: 0.5;
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;
                    }

                    .photo-4:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-5 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g5.jpg');
                        background-size: contain;
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;

                    }

                    .photo-5:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-6 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g6.jpg');
                        background-size: contain;
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;

                    }

                    .photo-6:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-7 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g7.jpg');
                        background-size: contain;
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;

                    }

                    .photo-7:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-8 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g8.jpg');
                        background-size: contain;
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;

                    }

                    .photo-8:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-9 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g9.jpg');
                        background-size: contain;
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;

                    }

                    .photo-9:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-10 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g10.jpg');
                        background-size: contain;
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;

                    }

                    .photo-10:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-11 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g11.jpg');
                        background-size: contain;
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;

                    }

                    .photo-11:hover {
                        transform: scale(1.2);
                        opacity: 1;
                    }

                    .photo-12 {
                        width: calc(100%/6);
                        height: calc(100%/2);
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                        background: url('/static/homepage/img/g12.jpg');
                        background-size: contain;
                        transform: scale(1);
                        transition: all 0.6s ease-in-out;
                        opacity: 0.5;

                    }

                    .photo-12:hover {
                        transform: scale(1.1);
                        opacity: 1;
                    }
                }
            }


            // -------------- CONTACT --------------------------------
            // -------------------------------------------------------


            #contact {
                height: 400px;
                max-width: 100vw;
                margin-top: 100px;
                padding-bottom: 500px;
                overflow: hidden;

                .section-header {
                    text-align: center;
                    margin: 0 auto;
                    padding-top: 50px;
                    margin-bottom: 20px;
                    color: $mainFontColor;
                    font-family: 'Oswald', sans-serif;
                    font-weight: 300;
                    font-size: 40px;
                    line-height: 1.42em;
                    margin-bottom: 10%;
                    letter-spacing: 0.8px;
                }

                .contact-wrapper {
                    max-width: 100%;
                    height: 100%;
                    margin: 20px 50px 50px 50px;
                    padding: 10px 10%;

                    position: relative;
                    border: 1px solid $mainFontColor;
                    border-radius: 10px;
                    background-color: rgba(14, 6, 1, 0.3);

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .form-horizontal {
                        max-width: 400px;
                        height: 100%;
                        align-items: center;
                        font-weight: 300;

                        .form-group {

                            .col-sm-12 {

                                // textarea ----------
                                .form-control {
                                    max-width: 100%;

                                    background-color: rgba(184, 145, 73, 0.1);
                                    color: $mainFontColor;
                                    letter-spacing: 1px;

                                    border: 1px solid $mainFontColor;
                                    border-radius: 5px;
                                    margin: 15px 0;
                                    padding: 10px;
                                }

                                ::placeholder {
                                    color: $mainFontColor;
                                    font-size: 14px;
                                    font-style: italic;
                                    font-family: 'Open Sans', sans-serif;
                                    font-weight: 100;
                                    line-height: 1.42em;
                                }

                                .form-control:hover {
                                    background-color: rgba(70, 46, 0, 0.4);
                                }
                            }
                        }

                        textarea {
                            background-color: rgba(70, 46, 0, 0.1);
                            width: 100%;
                            color: $mainFontColor;
                            letter-spacing: 1px;
                            resize: none;
                            border: 1px solid $mainFontColor;
                            border-radius: 5px;
                            margin: 15px 0;
                            padding: 10px;

                            .form-control {}
                        }

                        ::placeholder {
                            color: $mainFontColor;
                            font-size: 14px;
                            font-style: italic;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 100;
                            line-height: 1.42em;
                        }

                        textarea:hover {
                            background-color: rgba(70, 46, 0, 0.4);
                        }

                        .send-button {
                            padding: 10px 15px;
                            margin: 10px 40%;
                            background-color: transparent;
                            width: auto;
                            border: 1px solid $mainFontColor;
                            border-radius: 5px;

                            transition: all .2s ease-in-out;

                            .button {

                                transition: all .2s ease-in-out;

                                .send-text {
                                    display: flex;
                                    justify-content: center;
                                    padding: 0;
                                    font-family: 'Open Sans', sans-serif;
                                    font-weight: 300;
                                    line-height: 1.42em;
                                    color: rgba(225, 225, 225, 0.788);
                                }

                                .send-text:hover {
                                    color: $mainFontColor;
                                }
                            }
                        }

                        .send-button:hover {
                            background-color: rgba(70, 46, 0, 0.4);
                            border: 1px solid $mainFontColor;
                        }
                    }

                    .direct-contact-container {
                        max-width: 400px;
                        height: 70%;
                        padding-top: 50px;
                        padding-left: 50px;
                        position: relative;

                        border-left: 1px solid $mainFontColor;

                        .contact-list {
                            list-style: none;
                            text-align: left;

                            .list-item {
                                padding: 15px 0;

                                .contact-text {

                                    font-family: 'Open Sans', sans-serif;
                                    font-weight: 300;
                                    line-height: 1.42em;
                                    letter-spacing: 1.9px;
                                    color: $mainFontColor;
                                    text-align: left;

                                    a {
                                        color: $mainFontColor;
                                        text-decoration: none;
                                        transition-duration: 0.9s;
                                    }

                                    a:hover {
                                        color: $mainFontColor;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }

                        .social-media-list {
                            list-style: none;
                            display: flex;
                            justify-content: space-around;
                            margin: 10px;
                            position: relative;
                            font-size: 25px;
                            max-width: 100%;

                            li {

                                color: $mainFontColor;
                                border-radius: 50px;
                                cursor: pointer;
                                background: transparent;
                                transition: all .9s ease-in-out;

                                a {
                                    color: $mainFontColor;
                                    text-decoration: none;
                                    background: transparent;
                                    border-radius: 5px;
                                }
                            }

                            li:hover {
                                background-color: transparent;
                                transform: rotate(360deg);
                            }

                            li:hover:after {
                                opacity: 1;
                                transform: scale(1);
                                transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
                            }

                            li:nth-child(1):hover a {
                                color: #4267b2;
                            }

                            li:nth-child(2):hover a {
                                color: #00af87;
                            }

                            li:nth-child(3):hover a {
                                height: 100%;
                                background: radial-gradient(circle at 30% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                            }
                        }
                    }
                }
            }

            #footer {
                max-width: 100vw;
                width: 100%;
                height: 90px;
                padding: 7px;
                margin: 0;
                background-color: rgba(14, 6, 1, 0.85);

                .container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid rgba(225, 225, 225, 0.5);
                    border-radius: 10px;
                    overflow: hidden;

                    .footer-sign {

                        margin: 0;
                        padding-left: 15vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a {
                            color: $mainFontColor;
                            font-family: 'Oswald', sans-serif;
                            font-weight: 300;
                            font-size: 20px;
                            letter-spacing: 0.8px;
                            margin-right: 10px;

                            img {
                                width: auto;
                                height: 40px;
                                background-color: transparent;
                            }
                        }
                    }

                    .footer-logo {
                        width: 50px;
                        height: auto;
                        padding-right: 50px;

                        img {
                            width: auto;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

@include keyframes(test) {
    20% {
        background: url('/static/homepage/img/1.jpg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
    }

    40% {
        background: url('/static/homepage/img/2.jpg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
    }

    60% {
        background: url('/static/homepage/img/3.jpg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
    }

    80% {
        background: url('/static/homepage/img/5.jpg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
    }

    100% {
        background: url('/static/homepage/img/7.jpg') no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
    }
}