body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-weight: 300;
  line-height: 1.42em;
  color: #E1E1E1;
  overflow-x: hidden;
  /* --------------------------------------------------------------------- */
  /* ----------------------- NAVIGATION ---------------------------------- */
  /* --------------------------------------------------------------------- */
}

body .background {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body .background .backphoto {
  width: 100%;
  position: relative;
  -webkit-animation: test 60s infinite;
  animation: test 60s infinite;
}

body .background .backphoto #navigation {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
}

body .background .backphoto #navigation .logo {
  width: 50px;
  height: 50px;
  padding-right: 200px;
}

body .background .backphoto #navigation .logo a img {
  width: auto;
  height: 60px;
}

body .background .backphoto #navigation .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

body .background .backphoto #navigation .menu ul li {
  padding: 10px 15px;
  margin: 10px;
}

body .background .backphoto #navigation .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #E1E1E1;
}

body .background .backphoto #navigation .menu ul li a:hover:last-child {
  color: #E1E1E1;
}

body .background .backphoto #navigation .menu ul li:hover {
  border: 1px solid #E4E6E9;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #navigation .menu ul li:last-child {
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid #E1E1E1;
}

body .background .backphoto #navigation .menu ul li:hover:last-child {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

body .background .backphoto #navigation .logadmin a {
  text-decoration: none;
  font-size: 25px;
  color: #E1E1E1;
}

body .background .backphoto #about {
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 100% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #about .container {
  width: 100%;
  height: 100%;
  padding: 0 18%;
}

body .background .backphoto #about .container .textone p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
}

body .background .backphoto #about .container .texttwo p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  margin-bottom: 10%;
}

body .background .backphoto #about .container .texttwo .buttonabout {
  padding: 10px 15px;
  margin: 10px 40%;
  border: 1px solid #E1E1E1;
}

body .background .backphoto #about .container .texttwo .buttonabout a {
  text-decoration: none;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
}

body .background .backphoto #about .container .texttwo .buttonabout:hover {
  background-color: #ffffff46;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #menu {
  height: 400px;
  width: 100%;
  margin-top: 100px;
  background: url("/static/homepage/img/dark.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #menu .container {
  width: 100%;
  height: 100%;
  padding: 0 18%;
  background-color: #0e0601ad;
}

body .background .backphoto #menu .container .textone {
  margin: 10% 20%;
}

body .background .backphoto #menu .container .textone p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
}

body .background .backphoto #menu .container .texttwo .buttonmenu {
  padding: 10px 15px;
  margin: 10px 40%;
  border: 1px solid #E1E1E1;
}

body .background .backphoto #menu .container .texttwo .buttonmenu a {
  text-decoration: none;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
}

body .background .backphoto #menu .container .texttwo .buttonmenu:hover {
  background-color: #ffffff46;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #event {
  height: 400px;
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #event .container {
  width: 100%;
  height: 100%;
  padding: 0 18%;
}

body .background .backphoto #event .container .textone {
  margin: 10% 20%;
}

body .background .backphoto #event .container .textone p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
}

body .background .backphoto #event .container .texttwo p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
}

body .background .backphoto #event .container .texttwo .buttonevent {
  padding: 10px 15px;
  margin: 10px 40%;
  border: 1px solid #E1E1E1;
}

body .background .backphoto #event .container .texttwo .buttonevent a {
  text-decoration: none;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
}

body .background .backphoto #event .container .texttwo .buttonevent:hover {
  background-color: #ffffff46;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #gallery {
  height: 400px;
  width: 100%;
  margin-top: 100px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid red;
}

body .background .backphoto #contact {
  height: 400px;
  width: 100%;
  margin-top: 100px;
  padding-bottom: 200px;
  overflow: hidden;
}

body .background .backphoto #contact .section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 6px;
  color: #fff;
}

body .background .backphoto #contact .contact-wrapper {
  width: 100%;
  height: 100%;
  margin: 50px;
  padding: 20px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal {
  max-width: 50%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  border: 1px solid red;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 .form-control {
  max-width: 100%;
  background-color: rgba(70, 46, 0, 0.1);
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 10px;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 .form-control ::-webkit-input-placeholder:hover {
  color: #462d00;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 .form-control :-ms-input-placeholder:hover {
  color: #462d00;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 .form-control ::-ms-input-placeholder:hover {
  color: #462d00;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 .form-control ::placeholder:hover {
  color: #462d00;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 .form-control:hover {
  background-color: rgba(70, 46, 0, 0.4);
}

body .background .backphoto #contact .contact-wrapper .form-horizontal textarea {
  background-color: rgba(70, 46, 0, 0.1);
  max-width: 400px;
  color: #fff;
  letter-spacing: 1px;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal textarea:hover {
  background-color: rgba(70, 46, 0, 0.4);
}

body .background .backphoto #contact .contact-wrapper .form-horizontal button .btn .btn-primary .send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal button .btn .btn-primary .send-button .button {
  width: 400px;
  height: 34px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal button .btn .btn-primary .send-button .button .send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

@-webkit-keyframes test {
  0% {
    background: url("/static/homepage/img/1.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  25% {
    background: url("/static/homepage/img/2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  50% {
    background: url("/static/homepage/img/3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  75% {
    background: url("/static/homepage/img/4.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background: url("/static/homepage/img/5.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
}

@keyframes test {
  0% {
    background: url("/static/homepage/img/1.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  25% {
    background: url("/static/homepage/img/2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  50% {
    background: url("/static/homepage/img/3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  75% {
    background: url("/static/homepage/img/4.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background: url("/static/homepage/img/5.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
}
/*# sourceMappingURL=homepagestyle.css.map */