body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-weight: 300;
  line-height: 1.42em;
  color: #E1E1E1;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  /* --------------------------------------------------------------------- */
  /* ----------------------- NAVIGATION ---------------------------------- */
  /* --------------------------------------------------------------------- */
}

body .background {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

body .background .backphoto {
  width: 100%;
  position: relative;
  -webkit-animation: test 90s infinite;
  animation: test 90s infinite;
}

body .background .backphoto #navigation {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 10000;
  background-color: rgba(14, 6, 1, 0.3);
}

body .background .backphoto #navigation .logo {
  width: 50px;
  height: auto;
}

body .background .backphoto #navigation .logo a img {
  width: auto;
  height: 60px;
}

body .background .backphoto #navigation .admin-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
}

body .background .backphoto #navigation .admin-navigation .admin-menu {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
}

body .background .backphoto #navigation .admin-navigation .admin-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

body .background .backphoto #navigation .admin-navigation .admin-menu ul li {
  padding: 5px 7px;
  margin: 10px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

body .background .backphoto #navigation .admin-navigation .admin-menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #E1E1E1;
}

body .background .backphoto #navigation .admin-navigation .admin-menu ul li:hover {
  border-bottom: 1px solid #E1E1E1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #navigation .menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

body .background .backphoto #navigation .menu ul li {
  padding: 10px 15px;
  margin: 10px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

body .background .backphoto #navigation .menu ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #E1E1E1;
}

body .background .backphoto #navigation .menu ul li a:hover:last-child {
  color: #E1E1E1;
}

body .background .backphoto #navigation .menu ul li:hover {
  border-bottom: 1px solid #E1E1E1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #navigation .menu ul li:last-child {
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid #E1E1E1;
}

body .background .backphoto #navigation .menu ul li:hover:last-child {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

body .background .backphoto #navigation .logadmin a {
  text-decoration: none;
  font-size: 25px;
  color: #E1E1E1;
}

body .background .backphoto #about {
  height: 70vh;
  width: 100%;
  margin: 0;
  padding: 60% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #about .container {
  width: 100%;
  height: 100%;
  padding: 5% 15%;
}

body .background .backphoto #about .container .textone p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.82em;
  letter-spacing: 1px;
}

body .background .backphoto #about .container .texttwo {
  border-top: 1px solid #E1E1E1;
  padding-top: 20px;
}

body .background .backphoto #about .container .texttwo p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  margin-bottom: 10%;
  letter-spacing: 0.8px;
}

body .background .backphoto #about .container .texttwo .buttonabout {
  padding: 10px 15px;
  margin: 10px 40%;
  border: 1px solid #E1E1E1;
}

body .background .backphoto #about .container .texttwo .buttonabout a {
  text-decoration: none;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.42em;
  letter-spacing: 0.8px;
}

body .background .backphoto #about .container .texttwo .buttonabout:hover {
  background-color: #ffffff46;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #menu {
  height: 70vh;
  width: 100%;
  margin-top: 100px;
  background: url("/static/homepage/img/dark.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #menu .container {
  width: 100%;
  height: 100%;
  padding: 0 18%;
  background-color: #0e0601ad;
}

body .background .backphoto #menu .container .textone {
  margin: 10% 20%;
}

body .background .backphoto #menu .container .textone p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.82em;
  letter-spacing: 1px;
}

body .background .backphoto #menu .container .texttwo .buttonmenu {
  padding: 10px 15px;
  margin: 10px 40%;
  border: 1px solid #E1E1E1;
}

body .background .backphoto #menu .container .texttwo .buttonmenu a {
  text-decoration: none;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.42em;
  letter-spacing: 0.8px;
}

body .background .backphoto #menu .container .texttwo .buttonmenu:hover {
  background-color: #ffffff46;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #event {
  height: 70vh;
  width: 100%;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #event .container {
  width: 100%;
  height: 100%;
  padding: 5% 30%;
  margin: 50px;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
}

body .background .backphoto #event .container .textone p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.82em;
  letter-spacing: 1px;
}

body .background .backphoto #event .container .texttwo {
  border-top: 1px solid #E1E1E1;
  padding-top: 20px;
}

body .background .backphoto #event .container .texttwo p {
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  margin-bottom: 10%;
  letter-spacing: 0.8px;
}

body .background .backphoto #event .container .texttwo .buttonevent {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 10px;
  border: 1px solid #E1E1E1;
  color: #E1E1E1;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .background .backphoto #event .container .texttwo .buttonevent a {
  text-decoration: none;
  color: #E1E1E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.42em;
  letter-spacing: 0.8px;
}

body .background .backphoto #event .container .texttwo .buttonevent:hover {
  background-color: #ffffff46;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: line;
          transition-timing-function: line;
}

body .background .backphoto #gallery {
  height: 400px;
  max-width: 100vw;
  margin-top: 200px;
  padding: 0;
}

body .background .backphoto #gallery .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #0e0601;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

body .background .backphoto #gallery .container .photo-1 {
  position: inherit;
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g1.jpg");
  background-size: contain;
  z-index: 10;
  /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
  /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-2 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g2.jpg");
  background-size: contain;
  /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
  /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-3 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g3.jpg");
  background-size: contain;
  /* 1. obraz bedzie wiekszy, 2. bedzie plynnie sie zwiekszac  */
  /* 3. obraz bedzie ciemniejszy, .meal-photo backgro-col black*/
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-4 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g4.jpg");
  background-size: contain;
  opacity: 0.5;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-4:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-5 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g5.jpg");
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-5:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-6 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g6.jpg");
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-6:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-7 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g7.jpg");
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-7:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-8 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g8.jpg");
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-8:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-9 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g9.jpg");
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-9:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-10 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g10.jpg");
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-10:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-11 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g11.jpg");
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-11:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

body .background .backphoto #gallery .container .photo-12 {
  width: calc(100%/6);
  height: calc(100%/2);
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("/static/homepage/img/g12.jpg");
  background-size: contain;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
}

body .background .backphoto #gallery .container .photo-12:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

body .background .backphoto #contact {
  height: 400px;
  max-width: 100vw;
  margin-top: 100px;
  padding-bottom: 500px;
  overflow: hidden;
}

body .background .backphoto #contact .section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 20px;
  color: #E1E1E1;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.42em;
  margin-bottom: 10%;
  letter-spacing: 0.8px;
}

body .background .backphoto #contact .contact-wrapper {
  max-width: 100%;
  height: 100%;
  margin: 20px 50px 50px 50px;
  padding: 10px 10%;
  position: relative;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  background-color: rgba(14, 6, 1, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal {
  max-width: 400px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 .form-control {
  max-width: 100%;
  background-color: rgba(184, 145, 73, 0.1);
  color: #E1E1E1;
  letter-spacing: 1px;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 ::-webkit-input-placeholder {
  color: #E1E1E1;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.42em;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 :-ms-input-placeholder {
  color: #E1E1E1;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.42em;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 ::-ms-input-placeholder {
  color: #E1E1E1;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.42em;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 ::placeholder {
  color: #E1E1E1;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.42em;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .form-group .col-sm-12 .form-control:hover {
  background-color: rgba(70, 46, 0, 0.4);
}

body .background .backphoto #contact .contact-wrapper .form-horizontal textarea {
  background-color: rgba(70, 46, 0, 0.1);
  width: 100%;
  color: #E1E1E1;
  letter-spacing: 1px;
  resize: none;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal ::-webkit-input-placeholder {
  color: #E1E1E1;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.42em;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal :-ms-input-placeholder {
  color: #E1E1E1;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.42em;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal ::-ms-input-placeholder {
  color: #E1E1E1;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.42em;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal ::placeholder {
  color: #E1E1E1;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.42em;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal textarea:hover {
  background-color: rgba(70, 46, 0, 0.4);
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .send-button {
  padding: 10px 15px;
  margin: 10px 40%;
  background-color: transparent;
  width: auto;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .send-button .button {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .send-button .button .send-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: rgba(225, 225, 225, 0.788);
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .send-button .button .send-text:hover {
  color: #E1E1E1;
}

body .background .backphoto #contact .contact-wrapper .form-horizontal .send-button:hover {
  background-color: rgba(70, 46, 0, 0.4);
  border: 1px solid #E1E1E1;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container {
  max-width: 400px;
  height: 70%;
  padding-top: 50px;
  padding-left: 50px;
  position: relative;
  border-left: 1px solid #E1E1E1;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .contact-list {
  list-style: none;
  text-align: left;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .contact-list .list-item {
  padding: 15px 0;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .contact-list .list-item .contact-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  letter-spacing: 1.9px;
  color: #E1E1E1;
  text-align: left;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .contact-list .list-item .contact-text a {
  color: #E1E1E1;
  text-decoration: none;
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .contact-list .list-item .contact-text a:hover {
  color: #E1E1E1;
  text-decoration: none;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .social-media-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px;
  position: relative;
  font-size: 25px;
  max-width: 100%;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .social-media-list li {
  color: #E1E1E1;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .social-media-list li a {
  color: #E1E1E1;
  text-decoration: none;
  background: transparent;
  border-radius: 5px;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .social-media-list li:hover {
  background-color: transparent;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .social-media-list li:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
          transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .social-media-list li:nth-child(1):hover a {
  color: #4267b2;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .social-media-list li:nth-child(2):hover a {
  color: #00af87;
}

body .background .backphoto #contact .contact-wrapper .direct-contact-container .social-media-list li:nth-child(3):hover a {
  height: 100%;
  background: radial-gradient(circle at 30% 100%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

body .background .backphoto #aboutTemplate {
  height: auto;
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
  background-color: rgba(14, 6, 1, 0.8);
}

body .background .backphoto #aboutTemplate .section-header {
  width: 80%;
  margin: 0 auto;
  padding: 110px 5% 50px;
  color: #E1E1E1;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  line-height: 1em;
  letter-spacing: 0.01em;
}

body .background .backphoto #aboutTemplate .section-header h1 {
  font-size: 60px;
  font-weight: 300;
  color: #E1E1E1;
  font-family: 'Oswald', sans-serif;
}

body .background .backphoto #aboutTemplate .section-header h3 {
  color: #E1E1E1;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body .background .backphoto #aboutTemplate .contact-wrapper {
  max-width: 80vw;
  height: 60px;
  margin: 10px 50px 150px 50px;
  padding: 20px 0;
  position: relative;
  border-top: 0.5px solid #E1E1E1;
  border-bottom: 0.5px solid #E1E1E1;
}

body .background .backphoto #aboutTemplate .contact-wrapper .icons {
  margin-top: 5px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #aboutTemplate .contact-wrapper .icons ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .background .backphoto #aboutTemplate .contact-wrapper .icons-titles {
  margin-top: 5px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #aboutTemplate .contact-wrapper .icons-titles ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .background .backphoto #aboutTemplate .content {
  max-width: 100vw;
  height: 70vh;
  margin: 20px 50px 50px 50px;
  position: relative;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .background .backphoto #aboutTemplate .content .map {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0.5;
  max-width: 40%;
  margin: 0 5%;
}

body .background .backphoto #aboutTemplate .content .map:hover {
  opacity: 1;
}

body .background .backphoto #aboutTemplate .tips {
  width: 60%;
  height: 75%;
  margin: 0 20px;
  padding: 20px;
  border-left: 1px solid #E1E1E1;
}

body .background .backphoto #aboutTemplate .tips p {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .background .backphoto #barRental {
  height: auto;
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
  background-color: rgba(14, 6, 1, 0.8);
}

body .background .backphoto #barRental .section-header {
  width: 80%;
  margin: 0 auto;
  padding: 110px 5% 50px;
  color: #E1E1E1;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  line-height: 1em;
  letter-spacing: 0.01em;
}

body .background .backphoto #barRental .section-header h1 {
  font-size: 60px;
  font-weight: 300;
  color: #E1E1E1;
  font-family: 'Oswald', sans-serif;
}

body .background .backphoto #barRental .section-header h3 {
  color: #E1E1E1;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body .background .backphoto #barRental .content {
  max-width: 100vw;
  height: 70vh;
  margin: 20px 50px 50px 50px;
  position: relative;
  border: 1px solid #E1E1E1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #footer {
  max-width: 100vw;
  width: 100%;
  height: 90px;
  padding: 7px;
  margin: 0;
  background-color: rgba(14, 6, 1, 0.85);
}

body #footer .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(225, 225, 225, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

body #footer .container .footer-sign {
  margin: 0;
  padding-left: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #footer .container .footer-sign a {
  color: #E1E1E1;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.8px;
  margin-right: 10px;
}

body #footer .container .footer-sign a img {
  width: auto;
  height: 40px;
  background-color: transparent;
}

body #footer .container .footer-logo {
  width: 50px;
  height: auto;
  padding-right: 50px;
}

body #footer .container .footer-logo img {
  width: auto;
  height: 50px;
}

@-webkit-keyframes test {
  20% {
    background: url("/static/homepage/img/1.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  40% {
    background: url("/static/homepage/img/2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  60% {
    background: url("/static/homepage/img/3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  80% {
    background: url("/static/homepage/img/5.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background: url("/static/homepage/img/7.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
}

@keyframes test {
  20% {
    background: url("/static/homepage/img/1.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  40% {
    background: url("/static/homepage/img/2.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  60% {
    background: url("/static/homepage/img/3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  80% {
    background: url("/static/homepage/img/5.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background: url("/static/homepage/img/7.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
}
/*# sourceMappingURL=homepagestyle.css.map */