$mainFontColor: #E1E1E1;
$backgroundColor: #35281E;
$lightBackgroundColor: #7c6350;

html {
    overflow-x: hidden !important;
}

body {
    height: 100%;
    width: 100vw;
    margin: 0em;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.42em;
    z-index: 1;
    background-color: $backgroundColor;
    color: #E1E1E1;

    .main-content {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

/* --------------------------------------------------------------------- */
/* ---------------------------- FONTS ---------------------------------- */
.section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
    color: $mainFontColor;
    font-weight: 300;
    font-size: 2.3em;
    line-height: 1.42em;
    letter-spacing: 0.8px;
}

.section-description {
    font-size: 1.3em;
    color: $mainFontColor;
    font-weight: 300;
    line-height: 1.42em;
    letter-spacing: 0.8px;
    padding: 2em 10%;
    text-align: center;
}

h6 {
    color: $mainFontColor;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

a {
    text-decoration: none;
    color: $mainFontColor;
}



p {
    color: $mainFontColor;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.42em;
    letter-spacing: 1px;
}

/* ----------------------------------------------- */
/* --------------- NAVIGATION ------------------- */

.mynav {
    position: fixed;
    width: 100vw;
    z-index: 1000000;
    top: 0;
    left: 0;
    background-color: $backgroundColor;

    .nav-item {
        padding: 0.4rem 0;

        .nav-link {
            font-size: 1.4rem;
            font-weight: 200;
            padding: 0.3rem 0.5rem;
            color: $mainFontColor;
        }

        .dropdown-menu {
            background: rgb(78, 59, 43);
            padding: 0.3rem 0.5rem;

            .dropdown-item {
                font-size: 1.3rem;
                font-weight: 200;
                padding: 0.3rem 0.5rem;
                color: $mainFontColor;

                &:hover {
                    background: $backgroundColor !important;
                    margin: 0;
                    font-size: 1.3em;
                }
            }
        }
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: $lightBackgroundColor !important;
        border-radius: 0em !important;
        color: $mainFontColor !important;
    }
}

@media(max-width: 768px) {
    .mynav {
        display: none;
    }
}

.responsive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 1rem;
    z-index: 1000000;
    background: $backgroundColor;

    .navbar-collapse {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .nav-item {
        padding: 0.8rem 0.4rem;

        .nav-link {
            font-size: 1.4rem;
            font-weight: 200;
            padding: 0.3rem 0.5rem;
            color: $mainFontColor;
        }

        .dropdown-menu {
            background: rgb(78, 59, 43);
            padding: 0.3rem 0.5rem;

            .dropdown-item {
                font-size: 1.3rem;
                font-weight: 200;
                padding: 0.3rem 0.5rem;
                color: $mainFontColor;
            }
        }
    }
}

@media(min-width: 768px) {
    .responsive {
        display: none;
    }

    .navbar-toggle {
        display: none;
    }
}

.user {
    margin: 0 2em;
    font-size: 0.7em;
    color: $mainFontColor;

    ul {
        list-style: none;
        padding-inline-start: 0;
        margin: 0.3em;
    }

    a {
        font-size: 1em;
        line-height: 1.5em;
        color: $mainFontColor;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    p {
        font-size: 0.9em;
        color: $mainFontColor;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
}

.info_line {
    display: none;
    position: absolute;
    margin: 0;
    top: 81px;
    left: 0;
    padding-top: 10px;
    width: 100vw;
    height: 40px;
    background-color: $lightBackgroundColor;

    p {
        font-size: 1rem;
        margin: auto;
    }
}

@media(min-width: 768px) {
    .info_line {
        display: block;
    }

}

.horizontal_line {
    width: 30%;
    height: 0.1rem;
    background-color: #E1E1E1;
    margin: 2rem auto;
}

.animated-icon1,
.animated-icon2,
.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon2 span {
    background: #e3f2fd;
}

.animated-icon3 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
    top: 0px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
}

.animated-icon1 span:nth-child(3) {
    top: 20px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

// #######################################################

#map {
    margin-top: 150px;
    height: 500px;
    /* The height is 400 pixels */
    width: 1140px;
    /* The width is the width of the web page */
}

// #######################################################

/* ----------- BACKGROUND SLIDE-SHOW -------------- */
.content {

    .cb-slideshow {
        position: fixed;
        height: 100vh;
        width: 100vw;
        list-style-type: none;
        padding-inline-start: 0;
        z-index: -10;
        background-color: rgba(53, 40, 30, 0.25);

        li {
            padding-inline-start: 0;
            width: 100%;
            height: 100%;

            span {
                width: 100%;
                height: 100%;
                position: absolute;
                color: transparent;
                background-size: cover;
                opacity: 0;
                z-index: -1;
                animation: imageAnimation 60s linear infinite 0s;
            }

            &:nth-child(1) span {
                background: url('https://i.imgur.com/lZzTsqY.jpg');
                background-size: cover;
                background-position: center center;
                animation-delay: 0s;
            }

            &:nth-child(2) span {
                background: url('https://i.imgur.com/aLNydXN.jpg');
                background-size: cover;
                background-position: center center;
                animation-delay: 15s;
            }

            &:nth-child(3) span {
                background: url('https://i.imgur.com/JlzXrf7.jpg');
                background-size: cover;
                background-position: center center;
                animation-delay: 30s;
            }

            &:nth-child(4) span {
                background: url('https://i.imgur.com/192IrHK.jpg');
                background-size: cover;
                background-position: center center;
                animation-delay: 45s;
            }
        }
    }

    @keyframes imageAnimation {
        0% {
            opacity: 0;
            background-color: rgba(53, 40, 30, 0.4);
            animation-timing-function: ease-in-out;
        }

        30% {
            opacity: 1;
        }

        60% {
            opacity: 1;
        }

        90% {
            opacity: 0;
        }

        100% {
            opacity: 0;
        }
    }
}

.single-homepage-section,
.single-homepage-section-first {
    height: 100%;
    color: $mainFontColor;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        width: 100%;
        min-height: 60vh;
        height: 100%;
        margin: 5% 8%;
        padding: 0 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #887D7D;

        .home-text {
            font-size: 3.2rem;
            font-weight: 300;
            opacity: 0.95;
        }

        .option-list {
            height: 100%;
            width: 100%;
            padding-top: 1.5rem;
            padding-left: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                color: $mainFontColor;
                margin: 0 1rem;

                a {
                    height: 100%;
                    border: 1px solid $mainFontColor;
                    padding: 0.5rem 1rem;
                    font-size: 1.4em;
                    letter-spacing: 0.1em;
                    background-color: transparent;
                    color: $mainFontColor;
                    text-decoration: none;
                }
            }
        }
    }
}

.single-homepage-section-first {
    margin-top: 60vh;
    margin-bottom: 50vh;

    .header {
        font-family: 'Josefin Slab', serif;
        font-size: 6rem;
        font-weight: 400;
        padding-bottom: 2rem;
        text-align: center;
        letter-spacing: 0.14rem;
    }

    .horizontal_line {
        height: 0.1rem;
        width: 30vw;
        background-color: $mainFontColor;
        transition: width 1s ease-in-out;
    }

    .subtitle {
        font-size: 3.5rem;
        font-weight: 300;
        letter-spacing: 0.08px;

        i {
            transition: all 1.5s ease-in-out;

        }
    }
}

@media(max-width: 768px) {
    .single-homepage-section-first {
        margin-top: 50vh;
    }
}

.single-homepage-section-first:hover i {
    transform: translateY(15px)
}

.single-homepage-section-menu {
    width: 100%;
    height: 100%;

    .row {

        .col-12,
        .col-sm-12,
        .col-md-5,
        .col-md-7 {
            padding: 0 !important;
        }

        .menu-text {
            width: 100%;
            height: 100%;
            list-style: none;
            padding: 5% 10% 10% 10%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background-color: $lightBackgroundColor !important;

            .home-text-hd {
                font-size: 3.5rem;
                font-weight: 300;
                opacity: 0.95;
            }

            .home-text-sub {
                font-size: 1.6rem;
                font-weight: 300;
                opacity: 0.95;
                padding: 0;
                margin: 0;
            }

            .btn {
                border: 1px solid #E1E1E1;
                padding: 0.5rem 1rem;
                color: #E1E1E1;
                text-decoration: none;
                font-size: 1.2rem;
            }
        }


        .coctail-photo-the-first {
            min-height: 450px;
            width: 100%;
            background-image: url('https://i.imgur.com/OOafXKY.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    .row {

        .col-4,
        .col-6,
        .col-8,
        .col-12,
        .col-sm-4,
        .com-md-3 {
            padding: 0 !important;
            margin: 0 !important;
            // width: max-content;
            overflow: hidden;

            .coctail-photo {
                min-height: calc(100vh / 3);
                width: 100%;
                height: max-content;
                background-size: cover;
                background-repeat: no-repeat;

            }
        }

        .one {
            background: url('https://i.imgur.com/TFQlrYQ.png');
            transform: scale(1);
            opacity: 0.85;
            transition: .8s all ease-in-out;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        .two {
            background: url('https://i.imgur.com/PruEygM.png');
            transform: scale(1);
            opacity: 0.85;
            transition: .8s all ease-in-out;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        .three {
            background: url('https://i.imgur.com/vuANIxu.png');
            transform: scale(1);
            opacity: 0.85;
            transition: .8s all ease-in-out;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        .four {
            background: url('https://i.imgur.com/ldchUGi.png');
            transform: scale(1);
            opacity: 0.85;
            transition: .8s all ease-in-out;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        .five {
            background: url('https://i.imgur.com/TGVCPeZ.png');
            transform: scale(1);
            opacity: 0.85;
            transition: .8s all ease-in-out;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }
}

.single-homepage-section-offer {
    margin: 0 auto;
    padding: 100px 0;
    height: 100vh;
    height: 100%;
    // width: 100vw;
    color: $mainFontColor;
    background-color: $backgroundColor;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;

        .home-text {
            font-size: 3.5rem;
            color: $mainFontColor;
            padding-bottom: 2rem;
        }

        .offer_item {
            width: 100%;
            height: 100%;
            padding-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255, 255, 255, 0);
            transition: 1.5s all;

            .image_offer {
                height: 300px;
                width: 100%;
                background-size: cover !important;
            }

            .space {
                height: 1.8px;
                width: 40%;
                margin: 2rem auto;
                background-color: $mainFontColor;
                transition: width 1.5s;
            }

            .title_offer {
                h5 {
                    font-size: 1.8rem;
                    font-weight: 300;
                    letter-spacing: 0.07rem;
                }
            }
        }

        .offer_item:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

        .offer_item:hover .space {
            width: 75%;
        }
    }
}

.single-homepage-section-reservation {
    // width: 100vw;
    max-height: 60vh;
    height: 100%;
    margin: 3rem auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;

    .container {
        margin: 0;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .home-text-hd {
            font-size: 3.5rem;
            font-weight: 300;
            opacity: 0.95;
        }

        .horizontal_line {
            width: 40vw;
        }

        .subtitle {
            font-size: 1.6rem;
            padding: 0 50px 0;
        }

        .btn {
            font-size: 1.4rem;
            color: $mainFontColor;
            padding: 0.6rem 1.2rem;
            margin-top: 2rem;
            border: 1px solid $mainFontColor;
            transition: 1.5s all ease-in-out;
        }

        .btn:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

.single-homepage-section-contact {
    // width: 100vw;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: $backgroundColor;

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-header {
            font-size: 3rem;
            padding-top: 1.5rem;
        }

        .contact-content {
            height: 100%;
            width: 100%;


            .contact-form {
                height: 100%;
                width: 100%;
                padding: 2rem 0.5rem;

                .btn {
                    margin: 0 auto;
                }
            }

            .details {
                width: max-content;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0 auto;

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    li {
                        padding: 0.2rem 1rem;
                        font-size: 1.2rem;
                        font-weight: 200;
                        color: $mainFontColor;
                        transition: 1.5s all linear;

                        i {
                            font-size: 1.7rem;
                            line-height: 2.5rem;
                            transition: .8s all ease-in-out;

                        }
                    }

                    li:hover i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

.maps_me {
    // width: 100vw;
    height: 300px;
    background-color: rgba(22, 18, 18, 0.3);
    opacity: 0.3;
    transition: 1.5s all ease-in-out;

    .map-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background: url('https://i.imgur.com/tMbVOBg.png');
    }
}

.maps_me:hover {
    background-color: transparent;
    opacity: 1;
}

/* ----------------- FOOTER  ------------------ */
.site-footer {
    height: 120px;
    background-color: $backgroundColor;
    padding-top: 0.5em;
    font-size: 0.8em;
    color: #737373;
    flex-shrink: 0;

    hr {
        border-top-color: #e0e0e0;
        opacity: 0.5;
        width: 85%;
    }

    .container {
        margin: 0 auto;
        width: 100%;

        .footer-row {
            margin: 0 auto;
            width: 100%;

            .copyright-text {
                margin: 0;
                padding-bottom: 1em;
                text-align: center;
                font-weight: 100;
                font-size: 1em;

                a {
                    text-decoration: none;
                    color: #3366cc;
                    font-weight: 100;
                    font-size: 1em;
                    transition: all .4s linear;

                    &:hover {
                        font-size: 1.1rem;
                    }
                }
            }

            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                .social-icons {
                    text-align: right;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    padding-inline-start: 0;
                    margin-bottom: 0;
                    padding-bottom: 0.5em;

                    li {
                        padding: 0 3em;

                        a {
                            border-radius: 100%;
                            color: #818a91;
                            display: inline-block;
                            text-align: center;
                            transition: all .4s linear;
                            font-size: 1.2rem;

                            &:hover {
                                color: #3366cc;
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

// ---------------------------------------------

.container-background {
    background-color: rgba(53, 40, 30, 0.5);
    margin: 0;
    padding: 0;
}

.photo_kladka {
    .carousel {
        height: 100% !important;
    }

    .carousel-item {
        transition: 2s all linear !important;
        opacity: .5s all ease-out !important;
    }
}

.row_rental {
    margin: 0 auto;
}

.col-bar-img {
    border: 1px solid $mainFontColor;
}

.bottom_less {
    border-bottom: none;
}

.barrental-index {
    // margin-top: 65px;
    padding-top: 81px;
    width: 100%;
    height: 100%;

    .row {}

    .welcome {
        padding: 4rem 2rem;
        background-color: $lightBackgroundColor;
        // border-left: 2px solid $mainFontColor;
        // border-right: 2px solid $mainFontColor;
        border-bottom: none;


        .home-text-hd {
            font-size: 3.5rem;
            font-weight: 300;
            opacity: 0.95;
        }

        .home-text-sub {
            font-size: 1.6rem;
            font-weight: 300;
            opacity: 0.95;
            padding: 0;
            margin: 0;
        }
    }

    .chapter {
        margin-bottom: 500px;
    }

    .row {
        overflow: hidden;

        .col-sm-12,
        .col-md-6 {
            padding: 0 !important;
            overflow: hidden !important;
        }

        .menu-text {
            width: 100%;
            height: 100%;
            list-style: none;
            padding: 5% 10%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: justify;
            background: $lightBackgroundColor;

            .home-text-hd {
                font-size: 3.5rem;
                font-weight: 300;
                opacity: 0.95;
            }

            .home-text-sub {
                font-size: 1.3rem;
                font-weight: 300;
                opacity: 0.95;
                padding: 0;
                margin: 0;
            }

            .about_bar {
                font-size: 1.3rem;
            }

            .btn {
                border: 1px solid #E1E1E1;
                padding: 0.5rem 1rem;
                color: #E1E1E1;
                text-decoration: none;
                font-size: 1.2rem;
                transition: .5s all ease-in-out;

                &:hover {
                    background-color: rgba(225, 225, 225, 0.25);
                }
            }
        }

        .offer-photo-the-first {
            min-height: 450px;
            width: 100%;
            background-image: url('https://i.imgur.com/fdKCisj.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        .bar-photo {
            height: 250px;
            width: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            transform: scale(1);
            filter: brightness(0.8);
            transition: .9s all ease-in-out;
            overflow: hidden;

            &:hover {
                transform: scale(1.1);
                filter: brightness(1);
            }
        }

        .first {
            background-image: url('https://i.imgur.com/4RI81nE.jpg');
        }

        .two {
            background-image: url('https://i.imgur.com/WU7pudF.jpg');
        }

        .three {
            background-image: url('https://i.imgur.com/ezsGkw6.jpg');
        }

        .four {
            background-image: url('https://i.imgur.com/SUelgae.jpg');
        }

        .catering-photo {
            height: 500px;
            width: 100%;
            background-image: url('https://i.imgur.com/r0MW6uY.jpg');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            transform: scale(1);
            opacity: 0.85;
            transition: .9s all ease-in-out;
            overflow: hidden;

            &:hover {
                transform: scale(1.1);
                opacity: 1;
            }
        }
    }
}

@media(max-width: 900px) {
    body {
        font-size: 0.95em;
    }

    .single-homepage-section-first {
        margin-top: 35vh;

        .header {
            font-size: 5rem;
        }
    }

    .image_offer {
        height: 500px !important;
        width: auto !important;
        background-position: 50% 50% !important;
        min-width: 90vw;
    }

    .form-row:first-child {
        padding: 0 5rem !important;
    }

    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .photo_kladka {
        top: 30vh;
    }

    .col-bar-img,
    .welcome {
        border: none !important;
    }

    .chapter {
        margin-bottom: 260px !important;
    }
}

// @media(max-width: 768px) {

// }