{% load sass_tags static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D R U K 2.0 - STRONA GLOWNA</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="{% sass_src 'homepage/css/homepagestyle.scss' %}">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&display=swap&subset=latin-ext"
        rel="stylesheet">

</head>

<body>

    <nav class="menu">
        <div class="photo">
            <a class="logo" href="{% url 'homepage' %}"><img src="{% static 'homepage/img/drukarnia-logo.png' %}"
                    alt="logo"></a>
        </div>
        <ol>
            <li class="menu-item"><a href="{% url 'aboutUs' %}">O NAS</a></li>
            <li class="menu-item"><a href="{% url 'barrental' %}">OFERTA</a></li>
            <li class="menu-item">
                <a href="#0"><s>BLOG</s></a>
                {% if user.is_authenticated %}
                <ol class="sub-menu">
                    <li class="menu-item"><a href="#0">WIDOK</a></li>
                    <li class="menu-item"><a href="#0">NOWY POST</a></li>
                    <li class="menu-item"><a href="#0">EDYCJA</a></li>
                </ol>
                {% endif %}
            </li>
            <li class="menu-item">
                <a href="{% url 'menu' %}">MENU</a>
                {% if user.is_authenticated %}
                <ol class="sub-menu">
                    <li class="menu-item"><a href="{% url 'menu_list' %}">LISTA PRODUKTÓW</a></li>
                    <li class="menu-item"><a href="{% url 'menu_create' %}">DODAJ PRODUKT</a></li>
                </ol>
                {% endif %}
            </li>
            {% if user.is_authenticated %}
            <li class="menu-item">
                <a href="#0"><s>UŻYTKOWNICY</s></a>
                <ol class="sub-menu">
                    <li class="menu-item"><a href="#0">ZOBACZ WSZYSTKICH</a></li>
                    <li class="menu-item"><a href="#0">DODAJ NOWEGO</a></li>
                    <li class="menu-item"><a href="#0">EDYTUJ DANE</a></li>
                </ol>
            </li>
            {% endif %}
            <li class="menu-item">
                <a href="{% url 'reservation-create' %}">REZERWACJA</a>
                {% if user.is_authenticated %}
                <ol class="sub-menu">
                    <li class="menu-item"><a href="{% url 'reservation_list' %}">ZOBACZ REZERWACJE</a></li>
                    <li class="menu-item"><a href="{% url 'reservation-create' %}">DODAJ NOWĄ</a></li>
                </ol>
                {% endif %}
            </li>
        </ol>
        <div class="user">
            <span><i class="fas fa-user"></i></span>
            {% if request.user.is_authenticated %}
            {Hej} {{ request.user.first_name }},
            <a href="{% url 'logout' %}"><span>WYLOGUJ</span></a>
            {% else %}
            <a href="{% url 'login' %}"><span>ZALOGUJ</span></a>
            {% endif %}
        </div>
    </nav>
    <div class="main-content">
        {% block content %}

        {% endblock %}
    </div>
    <footer class="site-footer">
        <hr>
        <div class="container">
            <div class="row">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Gentlemil</a>.
                </p>
                <div class="icons">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/DrukarniaKlub/" target="_blank" class="contact-icon">
                                <i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/drukarniaklub/" target="_blank" class="contact-icon">
                                <i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://pl.tripadvisor.com/Attraction_Review-g274772-d12197208-Reviews-Drukarnia_Club-Krakow_Lesser_Poland_Province_Southern_Poland.html"
                                target="_blank" class="contact-icon">
                                <i class="fab fa-tripadvisor"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>