.text {
  font-size: 0.6em;
}

#login-site {
  height: 100%;
  width: 100vw;
  padding: 1em 0 2em 0;
  background-color: #26272B;
  display: block;
  color: #E1E1E1;
}

#login-site .header {
  width: 100%;
  margin-bottom: 3em;
}

#login-site .header p {
  font-size: 1em;
}

#login-site .container {
  height: 100%;
  padding: 1em 0;
  margin: 2em 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #887D7D;
}

#login-site .container .left {
  max-width: 400px;
  padding: 1.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3em 0;
}

#login-site .container .left .form-horizontal {
  width: 100%;
}

#login-site .container .left .form-horizontal .form-input,
#login-site .container .left .form-horizontal textarea {
  width: 90%;
  background-color: #26272B;
  color: #E1E1E1;
  letter-spacing: 1px;
  font-size: 1em;
  margin: 0.5em;
  padding: 0.3em;
  border: 1px solid #E1E1E1;
}

#login-site .container .left .form-horizontal ::-webkit-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 1em;
}

#login-site .container .left .form-horizontal :-ms-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 1em;
}

#login-site .container .left .form-horizontal ::-ms-input-placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 1em;
}

#login-site .container .left .form-horizontal ::placeholder {
  color: #E1E1E1;
  background-color: #26272B;
  font-size: 1em;
}

#login-site .container .left .form-horizontal .btn {
  width: 100%;
  height: 100%;
  margin: 0.8em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-site .container .left .form-horizontal .btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: transparent;
  color: #E1E1E1;
  border: 1px solid #E1E1E1;
}

#login-site .container .left .form-horizontal .helptext {
  height: 100%;
  width: 100%;
  padding-left: 0;
  list-style: none;
}

#login-site .container .left .form-horizontal .helptext li {
  color: #E1E1E1;
}

#login-site .container .left .form-horizontal .helptext li a {
  font-size: 1em;
}

#login-site .container .option-list {
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-site .container .option-list li {
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: transparent;
  color: #E1E1E1;
  border: 1px solid #E1E1E1;
}

#login-site .container .option-list li a {
  font-size: 1em;
}

#login-site .container .right {
  width: 500px;
  height: 500px;
  background-color: firebrick;
  display: none;
}
/*# sourceMappingURL=accountstyle.css.map */